@using Microsoft.AspNetCore.Identity
@inject SignInManager<LSFProject.Areas.Identity.Data.LSFUser> SignInManager
@inject UserManager<LSFProject.Areas.Identity.Data.LSFUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li>
        <div class="link font-per">
            <a asp-area="Identity" asp-page="/Account/Manage/Index">Профиль</a>
        </div>
    </li>
    <li>    
        <div class="link font-red">
            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="btn btn-primary">Выйти</button>
            </form>
        </div>
    </li>
}
else
{
    <li>
        <div class="link font-per">
            <a asp-area="Identity" asp-page="/Account/Login">Войти /</a><a asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </div>
    </li>
}
