<div class="footer-widget style-two">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-lg-3 ">
                <div class="single-widget">
                    <h3 class="font-green">О нас</h3>
                    <div class="footer-logo">
                        <img src="~/img/logo.png" alt="">
                    </div>
                    <p class="footer-about-text">Основная цель сайта - создание единого информационного поля, охватывающего основные направления обучения в области основ безопасности жизнедеятельности.</p>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single-widget">
                    <h3 class="font-per">Последние посты</h3>
                    <div class="sin-post">
                        <img src="~/img/post-1.jpg" alt="">
                        <div class="post-brif">
                            <a href="">ПОЖАРНАЯ БЕЗОПАСНОСТЬ 2020</a>
                            <p>05.02.2020</p>
                        </div>
                    </div>
                    <div class="sin-post">
                        <img src="~/img/post-1.jpg" alt="">
                        <div class="post-brif">
                            <a href="">ПОЖАРНАЯ БЕЗОПАСНОСТЬ 2020</a>
                            <p>05.02.2020</p>
                        </div>
                    </div>
                    <div class="sin-post">
                        <img src="~/img/post-1.jpg" alt="">
                        <div class="post-brif">
                            <a href="">ПОЖАРНАЯ БЕЗОПАСНОСТЬ 2020</a>
                            <p>05.02.2020</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single-widget">
                    <h3 class="font-sky">Последние Твиты</h3>
                    <div class="sin-twitter">
                        <p><a class="twitter-icon" href="">Мы создали новую игру</a> Если вы еще не пробовали игру об основах безопасности жизнедеятельности, самое время попробывать! <a href="#">LSFProject/KSFJ2kfSF</a>  </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single-widget">
                    <h3 class="font-orange">Контакты</h3>
                    <div class="footer-contact">
                        <div class="sin-con">
                            <i class="fa fa-instagram"></i>
                            <p><a href="https://www.instagram.com/tvoy_prostoy_malchik/?hl=ru">tvoy_prostoy_malchik</a></p>
                        </div>
                        <div class="sin-con">
                            <i class="fa fa-phone"></i>
                            <a href="tel:+80292865830">+375(29)2865830</a>
                        </div>
                        <div class="sin-con">
                            <i class="fa fa-envelope"></i>
                            <a href="mailto:obj.education@gmail.com">obj.education@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer widget area end-->
<!--Footer area start-->
<div class="footer-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <p>&copy; 2020 Основы безопасности жизнедеятельности. Разработка - Дипломный проект("Вадим&Дима")</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <ul class="social-icon float-right">
                    <li><a href=""><i class="fa fa-youtube"></i></a></li>
                    <li><a href=""><i class="fa fa-behance"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>