@*<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LifeSafetyFundamentals</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
            <div>
                <partial name="_LoginPartial.cshtml" />
            </div>
        </div>
    </nav>
</header>*@
<div class="preloader"></div>

<!--Top bar area start-->
<div class="top-bar style-two">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xl-7">
                <span class="first-span"><h5>Образовательный портал по Основам безопасности жизнедеятельности</h5></span>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-5">
                <div class="serch-wrapper float-right hide-sm-up">
                    <div class="search align-middle">
                        <input class="search-input" placeholder="Search" type="text">
                        <a href="javascript:void(0)"><i class="fa fa-search"></i></a>
                    </div>
                </div>
                <ul class="social-icon">
                    <li><a href="https://www.youtube.com/channel/UCA9EiOXrS2FjUwj3abWCmHw"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="https://vk.com/public112875779"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/%D0%9D%D0%B0%D1%86%D0%B8%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9-%D0%BE%D0%B1%D1%80%D0%B0%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9-%D0%BF%D0%BE%D1%80%D1%82%D0%B0%D0%BB-418915891635337/"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--Top bar area end-->
<!--Logo and contact info area Start -->

<div class="logo-area-style-two">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-2">
                <div class="logo">
                    <a asp-action="Index" asp-controller="Home">
                        <img src="~/img/logo.png" alt="">
                    </a>
                </div>
                <div class="accordion-wrapper hide-sm-up">
                    <a href="#" class="mobile-open"><i class="fa fa-bars"></i></a>
                    <!--Mobile Menu start-->

                    <ul id="mobilemenu" class="accordion">
                        <li class="mob-logo">
                            <a asp-action="Index" asp-controller="Home">
                                <img src="~/img/logo.png" alt="">
                            </a>
                        </li>
                        <li><a class="closeme" href="#"><i class="fa fa-times"></i></a></li>
                        <li class="fc-red out-link"><a asp-action="Index" asp-controller="Home">Home</a></li>
                        <li>
                            <div class="link font-sky">Pages<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu font-sky">
                                <li><a href="index-2.html">Home two</a></li>
                                <li><a href="about-us.html">About us</a></li>
                                <li><a href="staff.html">Our staff</a></li>
                                <li><a href="blog.html">blog</a></li>
                                <li><a href="single.html">single post</a></li>
                                <li><a href="facilities.html">facilities</a></li>
                                <li><a href="nursary.html">nursery</a></li>
                                <li><a href="tution.html">Tuition and fee</a></li>
                                <li><a href="testimonial.html">Testimonials</a></li>
                                <li><a href="shop.html">shop</a></li>
                                <li><a href="product.html">single product</a></li>
                                <li><a href="kindargerten.html">kindergaten</a></li>
                                <li><a href="infant.html">infant</a></li>
                                <li><a href="facilities.html">facilities</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="link font-orange">Programs<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu font-orange">
                                <!--  <li><h4>Nursery</h4></li>-->
                                <li><a href="#">Kindergarten</a></li>
                                <li><a href="#">class one</a></li>
                                <li><a href="#">class two</a></li>
                                <li><a href="#">play group</a></li>
                                <li><a href="#">game </a></li>
                                <li><a href="#">school</a></li>
                                <li><a href="#">boys section</a></li>
                                <li><a href="#">extra class</a></li>
                                <li><a href="#">toys room</a></li>
                                <li><a href="#">class six</a></li>
                                <li><a href="#">quick start</a></li>
                                <li><a href="#">mega menu</a></li>
                                <li><a href="#">result sheet</a></li>
                                <li><a href="#">routine</a></li>
                                <li><a href="#">offday</a></li>
                                <li><a href="#">toys room</a></li>
                                <li><a href="#">boys section</a></li>
                            </ul>
                        </li>

                        <li>
                            <div class="link font-per">Facilities<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu font-per">
                                <li><a href="#">Kindergarten</a></li>
                                <li><a href="#">class one</a></li>
                                <li><a href="#">class two</a></li>
                                <li><a href="#">play group</a></li>
                                <li><a href="#">game </a></li>
                                <li><a href="#">school</a></li>
                                <li><a href="#">boys section</a></li>
                                <li><a href="#">extra class</a></li>
                                <li><a href="#">toys room</a></li>
                                <li><a href="#">class six</a></li>
                                <li><a href="#">quick start</a></li>
                                <li><a href="#">mega menu</a></li>
                                <li><a href="#">result sheet</a></li>
                                <li><a href="#">routine</a></li>
                                <li><a href="#">offday</a></li>
                                <li><a href="#">toys room</a></li>
                                <li><a href="#">boys section</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="link font-per"><a href="about-us.html">About us</a></div>

                        </li>
                        <li>
                            <div class="link font-red">Contact<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu font-red">
                                <li><a href="#">Faq</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="top-contact-btn">
                                <a href="contact.html" class="kids-care-btn bg-sky">Admission</a>
                            </div>
                        </li>

                    </ul>
                    <!--Mobile Menu end-->

                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-8">
                <div class="contact-area-two">
                    <div class="call-us con-top-sin">
                        <a href="https://mchs.gov.by/">
                            <img src="~/img/MHS.png" alt="">
                        </a>
                        <p class="text-primary">МЧС</p>
                        <p class="con-text text-danger">101</p>
                    </div>
                    <div class="mail-us con-top-sin">
                        <a href="https://mvd.gov.by/ru">
                            <img src="~/img/MVD.png" alt="">
                        </a>
                        <p class="text-danger">МВД</p>
                        <p class="con-text text-primary">102</p>
                    </div>
                    <div class="location-us con-top-sin">
                        <a href="http://minzdrav.gov.by/ru/">
                            <img src="~/img/Ambulance.png" alt="">
                        </a>
                        <p class="text-primary">Скорая помощь</p>
                        <p class="con-text text-danger">103</p>
                    </div>
                </div>
            </div>
            <div class=" col-md-2 hide-sm col-lg-2">
                <a asp-action="AboutOfServices" asp-controller="Home" class="kids-care-btn bg-red" style="font-size: 15px;">Подробнее о службах</a>
            </div>
        </div>
    </div>
</div>
<!--Logo and contact info area end -->
<!--Menu  area Start -->

<div class="menu-area-two">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-xl-9 hide-sm">
                <div class="mainmenu-two style-two float-left">
                    <ul id="navigation">
                        <li class="fc-orange">
                            <a href="index.html">Home</a>
                            <ul class="sub-menu">
                                <li><a href="index.html">home 1</a></li>
                                <li><a href="index-2.html">home 2</a></li>
                                <li><a href="index-3.html">home 3</a></li>
                                <li><a href="index-4.html">home 4</a></li>
                                <li><a href="index-5.html">home 5</a></li>
                                <li><a href="index-6.html">home 6</a></li>
                                <li><a href="index-7.html">home 7</a></li>
                                <li><a href="index-8.html">home 8</a></li>
                                <li><a href="index-9.html">home 9</a></li>
                                <li><a href="index-10.html">home 10</a></li>
                            </ul>
                        </li>
                        <li class="fc-sky hav-sub">
                            <a href="#">pages<i class="fa fa-angle-down"></i></a>
                            <div class="mega-menu">
                                <div class="mega-catagory">
                                    <div class="mega-button">
                                        <a href="about-us.html"><span>about us</span></a>
                                        <a href="testimonial.html"><span>Testimonial</span></a>
                                        <a href="staff.html"><span>Teachers</span></a>
                                        <a href="staff-2.html"><span>Teachers 2</span></a>
                                        <a href="events.html"><span>Events</span></a>
                                        <a href="gallery.html"><span>Gallery</span></a>
                                    </div>
                                </div>
                                <div class="mega-catagory">
                                    <div class="mega-button">
                                        <a href="facilities.html"><span>Service & Features</span></a>
                                        <a href="kindargerten.html"><span>Kindergarten</span></a>
                                        <a href="infant.html"><span>Infant</span></a>
                                        <a href="admission.html"><span>Admission</span></a>
                                        <a href="tution.html"><span>Tution</span></a>
                                        <a href="blog.html"><span>News</span></a>
                                    </div>
                                </div>
                                <div class="mega-catagory">
                                    <div class="mega-button">
                                        <a href="single.html"><span>Single News</span></a>
                                        <a href="nursary.html"><span>Nursery</span></a>
                                        <a href="nutrition.html"><span>Nutration</span></a>
                                        <a href="contact.html"><span>Contact</span></a>
                                        <a href="shop.html"><span>Shop</span></a>
                                        <a href="product.html"><span>Singe Product</span></a>
                                    </div>
                                </div>
                                <div class="mega-catagory">

                                    <div class="mega-button">
                                        <a href="blog.html"><span>Blog</span></a>
                                        <a href="blog-leftsidebar.html"><span>Blog with sidbar</span></a>
                                        <a href="blog-rightsidebar.html"><span>Blog right sidbar</span></a>
                                        <a href="blog-leftsidebar.html"><span>Blog left sidbar</span></a>
                                        <a href="404.html"><span>404</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-3 col-xl-3 hide-sm">
                <div class="search-reg">
                    <div class="reg-area" style="display: flex; padding: 0;">
                        <div class="search align-middle">
                            <input class="search-input" placeholder="Поиск" type="text">
                            <a href=""><i class="fa fa-search"></i></a>
                        </div>
                        <i class="fa fa-user" style="padding-top: 3px;"></i>
                        <partial name="_LoginPartial.cshtml" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Menu  area end -->
