@*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LifeSafetyFundamentals</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <partial name="_LoginPartial.cshtml" />
                </div>
            </div>
        </nav>
    </header>*@
<div class="preloader"></div>

<!--Top bar area start-->
<div class="top-bar style-two">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xl-7">
                <span class="first-span"><h5>@Config.SiteHeader</h5></span>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-5">
                <div class="serch-wrapper float-right hide-sm-up">
                    <div class="search align-middle">
                        <input class="search-input" placeholder="Search" type="text">
                        <a href="javascript:void(0)"><i class="fa fa-search"></i></a>
                    </div>
                </div>
                <ul class="social-icon">
                    <li><a href="@Config.YouTube"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="@Config.Inst"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="@Config.Facebook"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--Top bar area end-->
<!--Logo and contact info area Start -->

<div class="logo-area-style-two">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-2">
                <div class="logo">
                    <a asp-action="Index" asp-controller="Home">
                        <img src="~/img/logo.png" alt="">
                    </a>
                </div>
                <div class="accordion-wrapper hide-sm-up">
                    <a href="#" class="mobile-open"><i class="fa fa-bars"></i></a>
                    <!--Mobile Menu start-->

                    <ul id="mobilemenu" class="accordion">
                        <li class="mob-logo">
                            <a asp-action="Index" asp-controller="Home">
                                <img src="~/img/logo.png" alt="">
                            </a>
                        </li>
                        <li><a class="closeme" href="#"><i class="fa fa-times"></i></a></li>
                        <li class="fc-red out-link"><a asp-action="Index" asp-controller="Home">Главная</a></li>
                        <li>
                            <div class="link font-sky">Новости<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu font-sky">
                                <li><a href="index-2.html">Home two</a></li>
                                <li><a href="about-us.html">About us</a></li>
                                <li><a href="staff.html">Our staff</a></li>
                                <li><a href="blog.html">blog</a></li>
                                <li><a href="single.html">single post</a></li>
                                <li><a href="facilities.html">facilities</a></li>
                                <li><a href="nursary.html">nursery</a></li>
                                <li><a href="tution.html">Tuition and fee</a></li>
                                <li><a href="testimonial.html">Testimonials</a></li>
                                <li><a href="shop.html">shop</a></li>
                                <li><a href="product.html">single product</a></li>
                                <li><a href="kindargerten.html">kindergaten</a></li>
                                <li><a href="infant.html">infant</a></li>
                                <li><a href="facilities.html">facilities</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="link font-orange">Programs<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu font-orange">
                                <!--  <li><h4>Nursery</h4></li>-->
                                <li><a href="#">Kindergarten</a></li>
                                <li><a href="#">class one</a></li>
                                <li><a href="#">class two</a></li>
                                <li><a href="#">play group</a></li>
                                <li><a href="#">game </a></li>
                                <li><a href="#">school</a></li>
                                <li><a href="#">boys section</a></li>
                                <li><a href="#">extra class</a></li>
                                <li><a href="#">toys room</a></li>
                                <li><a href="#">class six</a></li>
                                <li><a href="#">quick start</a></li>
                                <li><a href="#">mega menu</a></li>
                                <li><a href="#">result sheet</a></li>
                                <li><a href="#">routine</a></li>
                                <li><a href="#">offday</a></li>
                                <li><a href="#">toys room</a></li>
                                <li><a href="#">boys section</a></li>
                            </ul>
                        </li>

                        <li>
                            <div class="link font-per">Facilities<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu font-per">
                                <li><a href="#">Kindergarten</a></li>
                                <li><a href="#">class one</a></li>
                                <li><a href="#">class two</a></li>
                                <li><a href="#">play group</a></li>
                                <li><a href="#">game </a></li>
                                <li><a href="#">school</a></li>
                                <li><a href="#">boys section</a></li>
                                <li><a href="#">extra class</a></li>
                                <li><a href="#">toys room</a></li>
                                <li><a href="#">class six</a></li>
                                <li><a href="#">quick start</a></li>
                                <li><a href="#">mega menu</a></li>
                                <li><a href="#">result sheet</a></li>
                                <li><a href="#">routine</a></li>
                                <li><a href="#">offday</a></li>
                                <li><a href="#">toys room</a></li>
                                <li><a href="#">boys section</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="link font-per"><a href="about-us.html">About us</a></div>

                        </li>
                        <li>
                            <div class="link font-red">Contact<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu font-red">
                                <li><a href="#">Faq</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="top-contact-btn">
                                <a href="#" class="kids-care-btn bg-sky">Контакты</a>
                            </div>
                        </li>
                        <li class="text-primary">
                            <partial name="_LoginPartialMobile"/>
                        </li>

                    </ul>
                    <!--Mobile Menu end-->

                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-8">
                <div class="contact-area-two">
                    <div class="call-us con-top-sin">
                        <a href="https://mchs.gov.by/">
                            <img src="~/img/MHS.png" alt="">
                        </a>
                        <p class="text-primary">МЧС</p>
                        <p class="con-text text-danger">101</p>
                    </div>
                    <div class="mail-us con-top-sin">
                        <a href="https://mvd.gov.by/ru">
                            <img src="~/img/MVD.png" alt="">
                        </a>
                        <p class="text-danger">МВД</p>
                        <p class="con-text text-primary">102</p>
                    </div>
                    <div class="location-us con-top-sin">
                        <a href="http://minzdrav.gov.by/ru/">
                            <img src="~/img/Ambulance.png" alt="">
                        </a>
                        <p class="text-primary">Скорая помощь</p>
                        <p class="con-text text-danger">103</p>
                    </div>
                </div>
            </div>
            <div class=" col-md-2 hide-sm col-lg-2">
                <a asp-action="AboutOfServices" asp-controller="Home" class="kids-care-btn bg-red" style="font-size: 15px;">Подробнее о службах</a>
            </div>
        </div>
    </div>
</div>
<!--Logo and contact info area end -->
<!--Menu  area Start -->

<div class="menu-area-two">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-xl-9 hide-sm">
                <div class="mainmenu-two style-two float-left">
                    <ul id="navigation">
                        <li class="fc-orange">
                            <a asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="fc-sky hav-sub">
                            <a href="#news">Новости</a>
                        </li>
                        <li class="fc-sky hav-sub">
                            <a asp-controller="Game" asp-action="Index">Игры</a>
                        </li>
                        <li class="fc-sky hav-sub">
                            <a asp-controller="Game" asp-action="Index">Учебные пособия</a>
                        </li>
                        <li class="fc-sky hav-sub">
                            <a asp-controller="Game" asp-action="Index">Форум</a>
                        </li>
                        <li class="fc-sky hav-sub">
                            <a asp-controller="Game" asp-action="Index">Видео</a>
                        </li>
                        <li class="fc-sky hav-sub">
                            <a asp-controller="Game" asp-action="Index">Тесты</a>
                        </li>
                        <li class="fc-sky hav-sub">
                            <a asp-controller="Game" asp-action="Index">Фотогалерея</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-3 col-xl-3 hide-sm">
                <div class="search-reg">
                    <div class="reg-area" style="display: flex; padding: 0;">
                        <div class="search align-middle">
                            <input class="search-input" placeholder="Поиск" type="text">
                            <a href=""><i class="fa fa-search"></i></a>
                        </div>
                        <i class="fa fa-user" style="padding-top: 3px;"></i>
                        <partial name="_LoginPartial.cshtml" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Menu  area end -->
