

/* 1 */
.form_radio1 {
	margin-bottom: 10px;
	font-size: 20px;
}

	.form_radio1 input[type=radio] {
		display: none;
	}

	.form_radio1 label {
		display: inline-block;
		cursor: pointer;
		position: relative;
		padding-left: 25px;
		margin-right: 0;
		line-height: 18px;
		user-select: none;
	}

		.form_radio1 label:before {
			content: "";
			display: inline-block;
			width: 17px;
			height: 18px;
			position: absolute;
			left: 0;
			bottom: 1px;
			background: url(/img/radio-1.png) 0 0 no-repeat;
		}


	/* Checked */
	.form_radio1 input[type=radio]:checked + label:before {
		background: url(/img/radio-2.png) 0 0 no-repeat;
	}

	/* Hover */
	.form_radio1 label:hover:before {
		filter: brightness(120%);
	}

	/* Disabled */
	.form_radio1 input[type=radio]:disabled + label:before {
		filter: grayscale(100%);
	}


/* 1 */


/* 2 */

.form_radio2 {
	margin-bottom: 10px;
	font-size: 20px;
}

	.form_radio2 input[type=radio] {
		display: none;
	}

	.form_radio2 label {
		display: inline-block;
		cursor: pointer;
		position: relative;
		padding-left: 25px;
		margin-right: 0;
		line-height: 18px;
		user-select: none;
	}

		.form_radio2 label:before {
			content: "";
			display: inline-block;
			width: 17px;
			height: 18px;
			position: absolute;
			left: 0;
			bottom: 1px;
			background: url(/img/radio-1.png) 0 0 no-repeat;
		}


	/* Checked */
	.form_radio2 input[type=radio]:checked + label:before {
		background: url(/img/radio-2.png) 0 0 no-repeat;
	}

	/* Hover */
	.form_radio2 label:hover:before {
		filter: brightness(120%);
	}

	/* Disabled */
	.form_radio2 input[type=radio]:disabled + label:before {
		filter: grayscale(100%);
	}

/* 2 */



/* 3 */

.form_radio3 {
	margin-bottom: 10px;
	font-size: 20px;
}

	.form_radio3 input[type=radio] {
		display: none;
	}

	.form_radio3 label {
		display: inline-block;
		cursor: pointer;
		position: relative;
		padding-left: 25px;
		margin-right: 0;
		line-height: 18px;
		user-select: none;
	}

		.form_radio3 label:before {
			content: "";
			display: inline-block;
			width: 17px;
			height: 18px;
			position: absolute;
			left: 0;
			bottom: 1px;
			background: url(/img/radio-1.png) 0 0 no-repeat;
		}

/* Checked */
.form_radio3 input[type=radio]:checked + label:before {
	background: url(/img/radio-2.png) 0 0 no-repeat;
}

/* Hover */
.form_radio3 label:hover:before {
	filter: brightness(120%);
}

/* Disabled */
.form_radio3 input[type=radio]:disabled + label:before {
	filter: grayscale(100%);
}


/* 3 */


/* 4 */

.form_radio4 {
	margin-bottom: 10px;
	font-size: 20px;
}

	.form_radio4 input[type=radio] {
		display: none;
	}

	.form_radio4 label {
		display: inline-block;
		cursor: pointer;
		position: relative;
		padding-left: 25px;
		margin-right: 0;
		line-height: 18px;
		user-select: none;
	}

		.form_radio4 label:before {
			content: "";
			display: inline-block;
			width: 17px;
			height: 18px;
			position: absolute;
			left: 0;
			bottom: 1px;
			background: url(/img/radio-1.png) 0 0 no-repeat;
		}

	/* Checked */
	.form_radio4 input[type=radio]:checked + label:before {
		background: url(/img/radio-2.png) 0 0 no-repeat;
	}

	/* Hover */
	.form_radio4 label:hover:before {
		filter: brightness(120%);
	}

	/* Disabled */
	.form_radio4 input[type=radio]:disabled + label:before {
		filter: grayscale(100%);
	}


/* 4 */




/* 5 */

.form_radio5 {
	margin-bottom: 10px;
	font-size: 20px;
}

	.form_radio5 input[type=radio] {
		display: none;
	}

	.form_radio5 label {
		display: inline-block;
		cursor: pointer;
		position: relative;
		padding-left: 25px;
		margin-right: 0;
		line-height: 18px;
		user-select: none;
	}

		.form_radio5 label:before {
			content: "";
			display: inline-block;
			width: 17px;
			height: 18px;
			position: absolute;
			left: 0;
			bottom: 1px;
			background: url(/img/radio-1.png) 0 0 no-repeat;
		}

	/* Checked */
	.form_radio5 input[type=radio]:checked + label:before {
		background: url(/img/radio-2.png) 0 0 no-repeat;
	}

	/* Hover */
	.form_radio5 label:hover:before {
		filter: brightness(120%);
	}

	/* Disabled */
	.form_radio5 input[type=radio]:disabled + label:before {
		filter: grayscale(100%);
	}


/* 5 */





/* 6 */

.form_radio6 {
	margin-bottom: 10px;
	font-size: 20px;
}

	.form_radio6 input[type=radio] {
		display: none;
	}

	.form_radio6 label {
		display: inline-block;
		cursor: pointer;
		position: relative;
		padding-left: 25px;
		margin-right: 0;
		line-height: 18px;
		user-select: none;
	}

		.form_radio6 label:before {
			content: "";
			display: inline-block;
			width: 17px;
			height: 18px;
			position: absolute;
			left: 0;
			bottom: 1px;
			background: url(/img/radio-1.png) 0 0 no-repeat;
		}

	/* Checked */
	.form_radio6 input[type=radio]:checked + label:before {
		background: url(/img/radio-2.png) 0 0 no-repeat;
	}

	/* Hover */
	.form_radio6 label:hover:before {
		filter: brightness(120%);
	}

	/* Disabled */
	.form_radio6 input[type=radio]:disabled + label:before {
		filter: grayscale(100%);
	}


/* 6 */

/* 7 */

.form_radio7 {
	margin-bottom: 10px;
	font-size: 20px;
}

	.form_radio7 input[type=radio] {
		display: none;
	}

	.form_radio7 label {
		display: inline-block;
		cursor: pointer;
		position: relative;
		padding-left: 25px;
		margin-right: 0;
		line-height: 18px;
		user-select: none;
	}

		.form_radio7 label:before {
			content: "";
			display: inline-block;
			width: 17px;
			height: 18px;
			position: absolute;
			left: 0;
			bottom: 1px;
			background: url(/img/radio-1.png) 0 0 no-repeat;
		}

	/* Checked */
	.form_radio7 input[type=radio]:checked + label:before {
		background: url(/img/radio-2.png) 0 0 no-repeat;
	}

	/* Hover */
	.form_radio7 label:hover:before {
		filter: brightness(120%);
	}

	/* Disabled */
	.form_radio7 input[type=radio]:disabled + label:before {
		filter: grayscale(100%);
	}


/* 7 */
/* 8 */

.form_radio8 {
	margin-bottom: 10px;
	font-size: 20px;
}

	.form_radio8 input[type=radio] {
		display: none;
	}

	.form_radio8 label {
		display: inline-block;
		cursor: pointer;
		position: relative;
		padding-left: 25px;
		margin-right: 0;
		line-height: 18px;
		user-select: none;
	}

		.form_radio8 label:before {
			content: "";
			display: inline-block;
			width: 18px;
			height: 18px;
			position: absolute;
			left: 0;
			bottom: 1px;
			background: url(/img/radio-1.png) 0 0 no-repeat;
		}

	/* Checked */
	.form_radio8 input[type=radio]:checked + label:before {
		background: url(/img/radio-2.png) 0 0 no-repeat;
	}

	/* Hover */
	.form_radio8 label:hover:before {
		filter: brightness(120%);
	}

	/* Disabled */
	.form_radio8 input[type=radio]:disabled + label:before {
		filter: grayscale(100%);
	}


/* 8 */
/* 9 */

.form_radio9 {
	margin-bottom: 10px;
	font-size: 20px;
}

	.form_radio9 input[type=radio] {
		display: none;
	}

	.form_radio9 label {
		display: inline-block;
		cursor: pointer;
		position: relative;
		padding-left: 25px;
		margin-right: 0;
		line-height: 18px;
		user-select: none;
	}

		.form_radio9 label:before {
			content: "";
			display: inline-block;
			width: 19px;
			height: 18px;
			position: absolute;
			left: 0;
			bottom: 1px;
			background: url(/img/radio-1.png) 0 0 no-repeat;
		}

	/* Checked */
	.form_radio9 input[type=radio]:checked + label:before {
		background: url(/img/radio-2.png) 0 0 no-repeat;
	}

	/* Hover */
	.form_radio9 label:hover:before {
		filter: brightness(120%);
	}

	/* Disabled */
	.form_radio9 input[type=radio]:disabled + label:before {
		filter: grayscale(100%);
	}


/* 9 */
/* 10 */

.form_radio10 {
	margin-bottom: 10px;
	font-size: 20px;
}

	.form_radio10 input[type=radio] {
		display: none;
	}

	.form_radio10 label {
		display: inline-block;
		cursor: pointer;
		position: relative;
		padding-left: 25px;
		margin-right: 0;
		line-height: 18px;
		user-select: none;
	}

		.form_radio10 label:before {
			content: "";
			display: inline-block;
			width: 110px;
			height: 18px;
			position: absolute;
			left: 0;
			bottom: 1px;
			background: url(/img/radio-1.png) 0 0 no-repeat;
		}

	/* Checked */
	.form_radio10 input[type=radio]:checked + label:before {
		background: url(/img/radio-2.png) 0 0 no-repeat;
	}

	/* Hover */
	.form_radio10 label:hover:before {
		filter: brightness(120%);
	}

	/* Disabled */
	.form_radio10 input[type=radio]:disabled + label:before {
		filter: grayscale(100%);
	}


/* 10 */