<div class="row">
    <div class="col-12 col-md-6">
        <div class="sin-class wow fadeInUp" data-wow-delay=".5s">
            <div class="row no-gutters">
                <div class="left-c">
                    <div class="class-con-top bg-orange" style="padding-right: 20px;">
                        <h5>Формула безопасности</h5>
                        <h6>Автор: Павлюков, С. Ю.</h6>
                        <p>Первая публикация: 2015 г.</p>
                    </div>
                    <div class="class-con-bot">
                        <p style="padding: 10px;">В книге в доступной форме описаны действия и правила поведения в случае чрезвычайных ситуаций природного и техногенного характера.<a href="#" class="text-warning float-right">Читать...</a></p>
                    </div>
                </div>
                <div class="r-class">
                    <img src="@(Config.DomainName + "img/class/child/class-h1.jpg")" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="sin-class wow fadeInUp" data-wow-delay=".5s">
            <div class="row no-gutters">
                <div class="left-c">
                    <div class="class-con-top bg-blue" style="padding-right: 20px;">
                        <h5>Дошкольникам о правилах безопасности</h5>
                        <h6>Редактор: А.Л.Давидович </h6>
                        <p>Первая публикация: 2015 г.</p>
                    </div>
                    <div class="class-con-bot">
                        <p style="padding: 10px;">Учебное наглядное издание «Дошкольникам о правилах безопасности» предназначено для формирования основ безопасности жизнедеятельности у детей 5-7 лет.<a href="#" class="text-warning float-right">Читать...</a></p>
                    </div>
                </div>
                <div class="r-class">
                    <img src="@(Config.DomainName + "img/class/child/class-h2.jpg")" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="sin-class wow fadeInUp" data-wow-delay=".5s">
            <div class="row no-gutters">
                <div class="left-c">
                    <div class="class-con-top bg-green" style="padding-right: 20px;">
                        <h5>
                            Формирование у воспитанников навыков пожарной безопасности
                        </h5>
                        <p>Издательство: 2014 г.</p>
                    </div>
                    <div class="class-con-bot">
                        <p style="padding: 10px;">
                            Пособие содержит материал. Который поможет подготовится к занятиям по «Пожарной безопасности».<a href="#" class="text-warning float-right">Читать...</a>
                        </p>
                    </div>
                </div>
                <div class="r-class">
                    <img src="@(Config.DomainName + "img/class/child/class-h3.jpg")" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="sin-class wow fadeInUp" data-wow-delay=".5s">
            <div class="row no-gutters">
                <div class="left-c">
                    <div class="class-con-top bg-red">
                        <h5 style="padding-right: 20px;">Пожарная безопасность.</h5>
                        <p>Первая публикация: 2013 г.</p>
                    </div>
                    <div class="class-con-bot">
                        <p style="padding: 10px;">Пособие адресовано воспитателям дошкольных образовательных учреждений, родителям.<a href="#" class="text-warning float-right">Читать...</a></p>
                    </div>
                </div>
                <div class="r-class">
                    <img src="@(Config.DomainName + "img/class/child/class-h4.jpg")" alt="">
                </div>
            </div>
        </div>
    </div>
</div>