<h1 class="text-center">Активные формы здорового образа жизни</h1>
<hr/>
<br/>
<img src="~/img/obj/child/move-icon.png"/>
Режим дня учащегося — это грамотное распределение времени на занятия и отдых в течение суток.
Учащиеся начальной школы должны спать не менее 9-10 часов в сутки.
Систематическое недосыпание приводит к переутомлению.
<br/>
<br/>

<div class="collapse-wrapper">
    <div id="accordion" role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">1. Расмотри рисунок. Перетащи в выделенные блоки, смайлики.</a>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col" style="background-image: url(/img/obj/child/obj/game/1.png); background-repeat: no-repeat;  height: 500px;">
                            <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 70px; height: 70px; border: 2px solid #1c7430; margin-left: 45px; margin-top: 60px;"></div>
                            <div style="width: 70px; height: 70px; border: 2px solid #1c7430; margin-left: 20px; margin-top: 100px;" id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                            <div id="div3" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 70px; height: 70px; border: 2px solid #1c7430; margin-left: 210px; margin-top: -30px;"></div>
                            <div id="div4" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 70px; height: 70px; border: 2px solid #1c7430; margin-left: 260px; margin-top: 40px;"></div>
                        </div>
                        <div class="col">
                            <img id="grag1" draggable="true" ondragstart="drag(event)" src="/img/obj/succesfull.png"/>
                            <img id="grag2" draggable="true" ondragstart="drag(event)" src="/img/obj/unsuccesfull.png"/>
                        </div>

                        <script>
                            function allowDrop(ev) {
                                ev.preventDefault();
                            }
                            
                            function drag(ev) {
                                ev.dataTransfer.setData("text/html", ev.target.id);
                            }
                            
                            function drop(ev) {
                                ev.preventDefault();
                                var data=ev.dataTransfer.getData("text/html");
                                var nodeCopy = document.getElementById(data).cloneNode(true);
                                nodeCopy.id = "newId";
                                ev.target.appendChild(nodeCopy);
                            }
            </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        2. Прочитай диалог мальчиков.
                    </a>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingThree">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        3. Прочитай ситуационную задачу.
                    </a>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingFour">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        4. Рассмотри рисунок.
                    </a>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>