<h1 class="text-center">Активные формы здорового образа жизни</h1>
<hr/>
<br/>
<img src="~/img/obj/child/move-icon.png"/>
Режим дня учащегося — это грамотное распределение времени на занятия и отдых в течение суток.
Учащиеся начальной школы должны спать не менее 9-10 часов в сутки.
Систематическое недосыпание приводит к переутомлению.
<br/>
<br/>

<div class="collapse-wrapper">
<div id="accordion" role="tablist">
<div class="card">
    <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">1. Ознакомься с примерным распорядком дня мальчика.</a>
        </h5>
    </div>
    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            Выбери правильно время в соотвествии с режимом дня.
            <div style="display: flex; flex-wrap: wrap; align-items: flex-end; justify-content: space-evenly;">
                <div class="card-img-top-accordion" style=" margin-right: 20px; border: 1px solid #000; padding: 15px; border-radius: 5px; height: 300px; width: 250px;">
                    <h5 class="text-center">Начало занятий в школе</h5>
                    <img src="~/img/obj/child/obj/20-1.png"/>
                    <h5 class="text-center">Время</h5>
                    <input id="time1" type="time" class="form-control" placeholder="чч:мм" maxlength="5" width="85" pattern="[0-9]{2}:[0-9]{2}">
                    <div id="time1true" class="alert alert-success invisible-alert" role="alert">
                                    <img src="~/img/obj/succesfull.png"/>
                    </div>
                    <div id="time1false" class="alert alert-danger invisible-alert" role="alert">
                                    <img src="~/img/obj/unsuccesfull.png"/>
                    </div>
                </div>
                <div class="card-img-top-accordion" style=" margin-right: 20px; border: 1px solid #000; padding: 15px; border-radius: 5px; height: 300px; width: 250px;">
                    <h5 class="text-center">Обед</h5>
                    <img src="~/img/obj/child/obj/20-2.png"/>
                    <h5 class="text-center">Время</h5>
                    <input id="time2" type="time" class="form-control" placeholder="чч:мм" maxlength="5" width="85" pattern="[0-9]{2}:[0-9]{2}">
                    <div id="time2true" class="alert alert-success invisible-alert" role="alert">
                                    <img src="~/img/obj/succesfull.png"/>
                    </div>
                    <div id="time2false" class="alert alert-danger invisible-alert" role="alert">
                                    <img src="~/img/obj/unsuccesfull.png"/>
                    </div>
                </div>
                <div class="card-img-top-accordion" style=" margin-right: 20px; border: 1px solid #000; padding: 15px; border-radius: 5px; height: 300px; width: 250px;">

                    <h5 class="text-center">Дневная прогулка</h5>
                    <img src="~/img/obj/child/obj/20-3.png"/>
                    <h5 class="text-center">Время</h5>
                    <input id="time3" type="time" class="form-control" placeholder="чч:мм" maxlength="5" width="85" pattern="[0-9]{2}:[0-9]{2}">
                    <div id="time3true" class="alert alert-success invisible-alert" role="alert">
                                    <img src="~/img/obj/succesfull.png"/>
                    </div>
                    <div id="time3false" class="alert alert-danger invisible-alert" role="alert">
                                    <img src="~/img/obj/unsuccesfull.png"/>
                    </div>
                </div>
                <div class="card-img-top-accordion" style=" margin-right: 20px; border: 1px solid #000; padding: 15px; border-radius: 5px; height: 300px; width: 250px;">

                    <h5 class="text-center">Подготовка уроков</h5>
                    <img src="~/img/obj/child/obj/20-4.png"/>
                    <h5 class="text-center">Время</h5>
                    <input id="time4" type="time" class="form-control" placeholder="чч:мм" maxlength="5" width="85" pattern="[0-9]{2}:[0-9]{2}">
                    <div id="time4true" class="alert alert-success invisible-alert" role="alert">
                                    <img src="~/img/obj/succesfull.png"/>
                    </div>
                    <div id="time4false" class="alert alert-danger invisible-alert" role="alert">
                                    <img src="~/img/obj/unsuccesfull.png"/>
                    </div>
                </div>
                <div class="card-img-top-accordion" style=" margin-right: 20px; border: 1px solid #000; padding: 15px; border-radius: 5px; height: 300px; width: 250px;">
                    <h5 class="text-center">Ужин</h5>
                    <img src="~/img/obj/child/obj/20-2.png"/>
                    <h5 class="text-center">Время</h5>
                    <input id="time5" type="time" class="form-control" placeholder="чч:мм" maxlength="5" width="85" pattern="[0-9]{2}:[0-9]{2}">
                    <div id="time5true" class="alert alert-success invisible-alert" role="alert">
                                    <img src="~/img/obj/succesfull.png"/>
                    </div>
                    <div id="time5false" class="alert alert-danger invisible-alert" role="alert">
                                    <img src="~/img/obj/unsuccesfull.png"/>
                    </div>
                </div>
                <div class="card-img-top-accordion" style=" margin-right: 20px; border: 1px solid #000; padding: 15px; border-radius: 5px; height: 300px; width: 250px;">
                    <h5 class="text-center">Сон</h5>
                    <img src="~/img/obj/child/obj/20-5.png"/>
                    <h5 class="text-center">Время</h5>
                    <input id="time6" type="time" class="form-control" placeholder="чч:мм" maxlength="5" width="85" pattern="[0-9]{2}:[0-9]{2}">
                    <div id="time6true" class="alert alert-success invisible-alert" role="alert">
                                    <img src="~/img/obj/succesfull.png"/>
                    </div>
                    <div id="time6false" class="alert alert-danger invisible-alert" role="alert">
                                    <img src="~/img/obj/unsuccesfull.png"/>
                    </div>
                </div>
            </div>
            <a class="btn btn-primary text-white" onclick="checktime();" style="margin-top: 40px;">Проверить правильность ответов</a>
            <script>
                                    function checktime() {
                                        if (timeToDate(document.getElementById('time1').value) >= 8 && timeToDate(document.getElementById('time1').value) <= 9) {
                                            document.getElementById("time1true").classList.remove('invisible-alert');
                                            document.getElementById("time1false").classList.add('invisible-alert');
                                        }
                                        else {
                                            document.getElementById("time1true").classList.add('invisible-alert');
                                            document.getElementById("time1false").classList.remove('invisible-alert');
                                        }
                                        if (timeToDate(document.getElementById('time2').value) >= 12 && timeToDate(document.getElementById('time2').value) <= 13) {
                                            document.getElementById("time2true").classList.remove('invisible-alert');
                                            document.getElementById("time2false").classList.add('invisible-alert');
                                        }
                                        else {
                                            document.getElementById("time2true").classList.add('invisible-alert');
                                            document.getElementById("time2false").classList.remove('invisible-alert');
                                        }
                                        if (timeToDate(document.getElementById('time3').value) >= 14 && timeToDate(document.getElementById('time3').value) <= 15) {
                                            document.getElementById("time3true").classList.remove('invisible-alert');
                                            document.getElementById("time3false").classList.add('invisible-alert');
                                        }
                                        else {
                                            document.getElementById("time3true").classList.add('invisible-alert');
                                            document.getElementById("time3false").classList.remove('invisible-alert');
                                        }
                                        if (timeToDate(document.getElementById('time4').value) >= 16 && timeToDate(document.getElementById('time4').value) <= 18) {
                                            document.getElementById("time4true").classList.remove('invisible-alert');
                                            document.getElementById("time4false").classList.add('invisible-alert');
                                        }
                                        else {
                                            document.getElementById("time4true").classList.add('invisible-alert');
                                            document.getElementById("time4false").classList.remove('invisible-alert');
                                        }
                                        if (timeToDate(document.getElementById('time5').value) >= 19 && timeToDate(document.getElementById('time5').value) <= 20) {
                                            document.getElementById("time5true").classList.remove('invisible-alert');
                                            document.getElementById("time5false").classList.add('invisible-alert');
                                        }
                                        else {
                                            document.getElementById("time5true").classList.add('invisible-alert');
                                            document.getElementById("time5false").classList.remove('invisible-alert');
                                        }
                                        if (timeToDate(document.getElementById('time6').value) >= 21 && timeToDate(document.getElementById('time6').value) <= 22) {
                                            document.getElementById("time6true").classList.remove('invisible-alert');
                                            document.getElementById("time6false").classList.add('invisible-alert');
                                        }
                                        else {
                                            document.getElementById("time6true").classList.add('invisible-alert');
                                            document.getElementById("time6false").classList.remove('invisible-alert');
                                        }
                                    }
                                    function timeToDate(time) {
                                        var chunks = time.split(':');

                                        return Number(chunks[0]);
                                    }
                                </script>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" role="tab" id="headingTwo">
        <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                2. Прочитай диалог мальчиков.
            </a>
        </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            Кто из них по утрам успевает сделать зарядку, гигиенические процедуры, позавтракать и не опаздывает в школу? Выбери его имя.
            <img src="~/img/obj/child/obj/33.png"/>
            <div class="card-body" style="display: flex; flex-wrap: wrap; text-align: center;">
                <div class="form_radio form_radio1">
                    <input id="form4-radio-1" type="radio" name="radio4" value="1">
                    <label for="form4-radio-1" onclick="boystrue();">Саша</label>
                </div>

                <div class="form_radio form_radio1" style="margin-left: 30px;">
                    <input id="form4-radio-2" type="radio" name="radio4" value="2">
                    <label for="form4-radio-2" onclick="boysfalse();">Гена</label>
                </div>
            </div>
            <div id="boystrue" class="alert alert-success invisible-alert" role="alert">
                                    <img src="~/img/obj/succesfull.png"/>
            </div>
            <div id="boysfalse" class="alert alert-danger invisible-alert" role="alert">
                                    <img src="~/img/obj/unsuccesfull.png"/>
            </div>
            <script>
                                    function boystrue() {
                                        document.getElementById("boystrue").classList.remove('invisible-alert');
                                        document.getElementById("boysfalse").classList.add('invisible-alert');
                                    }
                                    function boysfalse() {
                                        document.getElementById("boystrue").classList.add('invisible-alert');
                                        document.getElementById("boysfalse").classList.remove('invisible-alert');
                                    }
                                </script>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                3. Прочитай ситуационную задачу.
            </a>
        </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
            Кто из подруг соблюдает режим дня школьника?
            Выбери имя девочки. Обоснуй, почему ты так считаешь.
            <hr/>
            Света, Маша и Катя учатся во втором классе. Сегодня Света легла спать в 21:00 (девять часов вечера),
            а Маша - в 22:00 (десять часов вечера). Она смотрела мультфильмы. Катя улеглась в 23:00 (одиннадцать часов вечера).
            Девочка доделывала уроки.
            <div class="card-body" style="display: flex; flex-wrap: wrap; text-align: center;">
                <div class="form_radio form_radio1">
                    <input id="form4-radio-1" type="radio" name="radio4" value="1">
                    <label for="form4-radio-1" onclick="girlstrue();">Света</label>
                </div>

                <div class="form_radio form_radio1" style="margin-left: 30px;">
                    <input id="form4-radio-2" type="radio" name="radio4" value="2">
                    <label for="form4-radio-2" onclick="girlsfalse();">Маша</label>
                </div>

                <div class="form_radio form_radio1" style="margin-left: 30px;">
                    <input id="form4-radio-3" type="radio" name="radio4" value="3">
                    <label for="form4-radio-3" onclick="girlsfalse();">Катя</label>
                </div>
            </div>
            <div id="girlstrue" class="alert alert-success invisible-alert" role="alert">
                                    <img src="~/img/obj/succesfull.png"/>
            </div>
            <div id="girlsfalse" class="alert alert-danger invisible-alert" role="alert">
                                    <img src="~/img/obj/unsuccesfull.png"/>
            </div>
            <script>
                                    function girlstrue() {
                                        document.getElementById("girlstrue").classList.remove('invisible-alert');
                                        document.getElementById("girlsfalse").classList.add('invisible-alert');
                                    }
                                    function girlsfalse() {
                                        document.getElementById("girlstrue").classList.add('invisible-alert');
                                        document.getElementById("girlsfalse").classList.remove('invisible-alert');
                                    }
                                </script>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" role="tab" id="headingFour">
        <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                4. Рассмотри рисунок.
            </a>
        </h5>
    </div>
    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
            Какой завтрак не принесет пользы? Выбери правильный вариант ответа.
            <div class="card-body" style="display: flex; flex-wrap: wrap; text-align: center;">
                <div class="form_radio form_radio1">
                    <input id="form5-radio-1" type="radio" name="radio5" value="1">
                    <label for="form5-radio-1" onclick="foodtrue();">
                        <img src="~/img/obj/child/obj/34-1.png"/>
                    </label>
                </div>

                <div class="form_radio form_radio1" style="margin-left: 30px;">
                    <input id="form5-radio-2" type="radio" name="radio5" value="2">
                    <label for="form5-radio-2" onclick="foodfalse();">
                        <img src="~/img/obj/child/obj/34-2.png"/>
                    </label>
                </div>
            </div>
            <div id="foodtrue" class="alert alert-success invisible-alert" role="alert">
                                    <img src="~/img/obj/succesfull.png"/>
            </div>
            <div id="foodfalse" class="alert alert-danger invisible-alert" role="alert">
                                    <img src="~/img/obj/unsuccesfull.png"/>
            </div>
            <script>
                                    function foodtrue() {
                                        document.getElementById("foodtrue").classList.remove('invisible-alert');
                                        document.getElementById("foodfalse").classList.add('invisible-alert');
                                    }
                                    function foodfalse() {
                                        document.getElementById("foodtrue").classList.add('invisible-alert');
                                        document.getElementById("foodfalse").classList.remove('invisible-alert');
                                    }
                                </script>
        </div>
    </div>
</div>
</div>
</div>
<br/>
<br/>
<img src="~/img/obj/child/warning-icon.png"/>
Утрення зарядка - физические упражнения, выполняемые утром, для разминки мышц и суставов.
народная мудрость гласит: "Как начнется утро, так пройдет весь день".
<hr/>
<img src="~/img/obj/child/move-icon.png"/>
Одежда бывает летней, зимней и демисезонной (ее носят весной и осенью).