<div class="col-lg-8 col-xl-7 ">
    <div class="row flex-xl-row-reverse row-20">
        <div class="post post-default post-variant-3" style="margin-bottom: 30px;">
            <h1 class="text-center">Активные формы здорового образа жизни</h1>
            <hr />
            <br />
            <img src="~/img/obj/child/move-icon.png" />
            Режим дня учащегося — это грамотное распределение времени на занятия и отдых в течение суток.
            У людей, которые соблюдают режим дня, будет высокая работоспособность на протяжении всего дня.
            Детям очень важно соблюдать режим сна: ложиться и вставать примерно в одно и то же время.
            Тогда они будут легко пробуждаться и быстро засыпать.
            Учащиеся начальной школы должны спать не менее 9-10 часов в сутки.
            Систематическое недосыпание приводит к переутомлению.
            <br />
            <br />

            <div class="collapse-wrapper">
                <div id="accordion" role="tablist">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">1. Ознакомься с примерным распорядком дня мальчика.</a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                Выбери правильно время в соотвествии с режимом дня.
                                <div style="display: flex; flex-wrap: wrap; align-items: flex-end; justify-content: space-evenly;">
                                    <div class="card-img-top-accordion" style=" margin-right: 20px; border: 1px solid #000; padding: 15px; border-radius: 5px; height: 300px; width: 250px;">
                                        <h5 class="text-center">Начало занятий в школе</h5>
                                        <img src="~/img/obj/child/obj/20-1.png" />
                                        <h5 class="text-center">Время</h5>
                                        <input type="text" class="form-control" placeholder="чч:мм" maxlength="5" width="85">
                                    </div>
                                    <div class="card-img-top-accordion" style=" margin-right: 20px; border: 1px solid #000; padding: 15px; border-radius: 5px; height: 300px; width: 250px;">
                                        <h5 class="text-center">Обед</h5>
                                        <img src="~/img/obj/child/obj/20-2.png" />
                                        <h5 class="text-center">Время</h5>
                                        <input type="text" class="form-control" placeholder="чч:мм" maxlength="5" width="85">
                                    </div>
                                    <div class="card-img-top-accordion" style=" margin-right: 20px; border: 1px solid #000; padding: 15px; border-radius: 5px; height: 300px; width: 250px;">

                                        <h5 class="text-center">Дневная прогулка</h5>
                                        <img src="~/img/obj/child/obj/20-3.png" />
                                        <h5 class="text-center">Время</h5>
                                        <input type="text" class="form-control" placeholder="чч:мм" maxlength="5" width="85">
                                    </div>
                                    <div class="card-img-top-accordion" style=" margin-right: 20px; border: 1px solid #000; padding: 15px; border-radius: 5px; height: 300px; width: 250px;">

                                        <h5 class="text-center">Подготовка уроков</h5>
                                        <img src="~/img/obj/child/obj/20-4.png" />
                                        <h5 class="text-center">Время</h5>
                                        <input type="text" class="form-control" placeholder="чч:мм" maxlength="5" width="85">
                                    </div>
                                    <div class="card-img-top-accordion" style=" margin-right: 20px; border: 1px solid #000; padding: 15px; border-radius: 5px; height: 300px; width: 250px;">
                                        <h5 class="text-center">Ужин</h5>
                                        <img src="~/img/obj/child/obj/20-2.png" />
                                        <h5 class="text-center">Время</h5>
                                        <input type="text" class="form-control" placeholder="чч:мм" maxlength="5" width="85">
                                    </div>
                                    <div class="card-img-top-accordion" style=" margin-right: 20px; border: 1px solid #000; padding: 15px; border-radius: 5px; height: 300px; width: 250px;">
                                        <h5 class="text-center">Сон</h5>
                                        <img src="~/img/obj/child/obj/20-5.png" />
                                        <h5 class="text-center">Время</h5>
                                        <input type="text" class="form-control" placeholder="чч:мм" maxlength="5" width="85">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    2. Прочитай диалог мальчиков. 
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                Кто из них по утрам успевает сделать зарядку, гигиенические процедуры, позавтракать и не опаздывает в школу? Выбери его имя.

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Lorem ipsum
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingFour">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Lorem ipsum
                                </a>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
