<div class="col-lg-8 col-xl-7 ">
    <div class="row flex-xl-row-reverse row-20">
        <div class="col-xl-11">
            <div class="post post-default post-variant-3" style="margin-bottom: 30px;">
                <h1 class="text-center">Правила дорожного движения</h1>
                <hr />
                <div class="card-header" role="tab" id="headingOne" style="background: transparent; padding: 0;">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="padding-right: 40px;">Участники дорожного движения</a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <h5 class="text-center"><strong>Участники дорожного движения</strong></h5>
                                <br />
                                <img src="~/img/obj/child/question-icon.png" align="left" vspace="15" hspace="15" />
                                Каждый день, выходя из дома, ты идешь по улицам, переходишь их, пользуешься маршрутными транспортными
                                средствами (автобусами, троллейбусами, трамваями, маршрутками, такси). Ты становишься участником дорожного движения
                                как пешеход или пассажир. Правила дорожного движения(ПДД) обязательны для всех участников дорожного движения:
                                <ul class="ul-list">
                                    <li>водителей;</li>
                                    <li>пешеходов;</li>
                                    <li>пассажиров.</li>
                                </ul>
                                Любое, даже незначительное нарушение этих правил может привести к дорожно-транспортному происшествию.
                                Поэтому важно не только знать эти правила, но и всегда их соблюдать.
                                <br />
                                <br />
                                <img src="~/img/obj/child/move-icon.png" /> <strong>1. Расмотри таблицу. Кого называют участником дорожного движения?</strong>


                                <img class="text-center border-image-child" src="~/img/obj/child/obj/7.png" />

                                <div class="card-header" role="tab" id="headingTwo" style="background: transparent; padding: 0;">
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingTwo">
                                            <h5 class="mb-0">
                                                <a data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" style="padding-right: 40px;">Определи, кем является персонаж рисунков. Нажми одно из слов в каждом столбике.</a>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                            <div class="card-body" style="display: flex; flex-wrap: wrap; padding: 30px; align-items: flex-end;">
                                                <div class="card-img-top-accordion" style="margin-right: 20px;">
                                                    <img src="~/img/obj/child/obj/6-1.png" alt="Мальчик на коляске">
                                                    <div class="card-body">
                                                        <div class="form_radio form_radio1">
                                                            <input id="form1-radio-1" type="radio" name="radio1" value="1">
                                                            <label for="form1-radio-1">Водитель</label>
                                                        </div>

                                                        <div class="form_radio form_radio1">
                                                            <input id="form1-radio-2" type="radio" name="radio1" value="2">
                                                            <label for="form1-radio-2">Пешеход</label>
                                                        </div>

                                                        <div class="form_radio form_radio1">
                                                            <input id="form1-radio-3" type="radio" name="radio1" value="3">
                                                            <label for="form1-radio-3">Пассажир</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-img-top-accordion" style="margin-right: 20px;">
                                                    <img src="~/img/obj/child/obj/6-2.png" alt="Автобус">
                                                    <div class="card-body">
                                                        <div class="form_radio form_radio2">
                                                            <input id="form2-radio-1" type="radio" name="radio2" value="1">
                                                            <label for="form2-radio-1">Водитель</label>
                                                        </div>

                                                        <div class="form_radio form_radio2">
                                                            <input id="form2-radio-2" type="radio" name="radio2" value="2">
                                                            <label for="form2-radio-2">Пешеход</label>
                                                        </div>

                                                        <div class="form_radio form_radio2">
                                                            <input id="form2-radio-3" type="radio" name="radio2" value="3">
                                                            <label for="form2-radio-3">Пассажир</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-img-top-accordion">
                                                    <img src="~/img/obj/child/obj/6-3.png" alt="Младенец в коляске">
                                                    <div class="card-body">
                                                        <div class="form_radio form_radio3">
                                                            <input id="form3-radio-1" type="radio" name="radio3" value="1">
                                                            <label for="form3-radio-1">Водитель</label>
                                                        </div>

                                                        <div class="form_radio form_radio3">
                                                            <input id="form3-radio-2" type="radio" name="radio3" value="2">
                                                            <label for="form3-radio-2">Пешеход</label>
                                                        </div>

                                                        <div class="form_radio form_radio3">
                                                            <input id="form3-radio-3" type="radio" name="radio3" value="3">
                                                            <label for="form3-radio-3">Пассажир</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-header" role="tab" id="headingThree" style="background: transparent; padding: 0;">
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingThree">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="padding-right: 40px;">Расмотри рисунок и ответь парвильно.</a>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                            <div class="card-body">
                                                Расмотри рисунок. Кто из детей верно подготовился к катанию на роликовых коньках?
                                                <img src="~/img/obj/child/obj/8.png" />
                                                <div class="card-body" style="display: flex; flex-wrap: wrap; text-align: center;">
                                                    <div class="form_radio form_radio1">
                                                        <input id="form4-radio-1" type="radio" name="radio4" value="1">
                                                        <label for="form4-radio-1">Девочка</label>
                                                    </div>

                                                    <div class="form_radio form_radio1" style="margin-left: 30px;">
                                                        <input id="form4-radio-2" type="radio" name="radio4" value="2">
                                                        <label for="form4-radio-2">Мальчик</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingFour">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="padding-right: 40px;">Элементы дороги</a>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                <br />
                                <img src="~/img/obj/child/move-icon.png" align="left" vspace="15" hspace="15" />
                                Дорога — инженерное сооружение либо полоса земли. Она предназначена и используется для движения транспортных средств и пешеходов.
                                Дорога состоит из определенных элементов (проезжая часть, тротуары, трамвайные пути, оббчина, пешеходные и велосипедные дорожки, кювет).
                                Основной из них — проезжая часть. Еще к элементам дороги относятся островки безопасности, посадочные площадки. Они находятся на проезжей
                                части и нужны для посадки пассажиров в маршрутное транспортное средство или высадки из него.
                                <br />
                                <br />
                                <img src="~/img/obj/child/question-icon.png" /> <strong>Выполните тестовые задания.</strong>

                                <br />
                                <div class="card-header" role="tab" id="headingFive" style="background: transparent; padding: 0;">
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingFive">
                                            <h5 class="mb-0">
                                                <a data-toggle="collapse" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive" style="padding-right: 40px;">1. Дополни фразы необходимыми словами. Соедени правильно левые и правые плашки.</a>
                                            </h5>
                                        </div>
                                        <div id="collapseFive" class="collapse show" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
                                            <div class="card-body">
                                                <style>
                                                    .card-body-self {
                                                        display: flex;
                                                        margin-bottom: 30px;
                                                    }

                                                    .card-body-self-right {
                                                        border: 1px solid #000000;
                                                        padding: 10px 20px;
                                                        margin-left: auto;
                                                        order: 2;
                                                        align-self: center;
                                                        text-align: center;
                                                    }

                                                    .card-body-self-left {
                                                        max-width: 50%;
                                                        padding: 10px 20px;
                                                        border: 1px solid #000000;
                                                    }
                                                </style>
                                                <div class="card-body-self">
                                                    <h5 class="card-body-self-right col-sm-4">велосипедов</h5>
                                                    <h5 class="card-body-self-left"><strong>Проезжая часть -</strong> элемент дороги для движения ...</h5>
                                                </div>
                                                <div class="card-body-self">
                                                    <h5 class="card-body-self-right col-sm-4">пешеходов</h5>
                                                    <h5 class="card-body-self-left"><strong>Пешеходня дорожка -</strong> элемент дороги для движения пешеходов. Она обозначена дорожным знаком ...</h5>

                                                </div>
                                                <div class="card-body-self">
                                                    <h5 class="card-body-self-right col-sm-4">транспортных средств</h5>
                                                    <h5 class="card-body-self-left"><strong>Велосипедная дорожка -</strong> обособленная дорога либо выделенный линией элемент дороги для движения ...</h5>

                                                </div>
                                                <div class="card-body-self">
                                                    <h5 class="card-body-self-right col-sm-4">"Пешеходная дорожка"</h5>
                                                    <h5 class="card-body-self-left"><strong>Тротуар -</strong> элемент дороги для движения ...</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-header" role="tab" id="headingSix" style="background: transparent; padding: 0;">
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingSix">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix" style="padding-right: 40px;">2. Расмотри рисунок и ответь парвильно.</a>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="collapseSix" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion">
                                            <div class="card-body">
                                                Друзья Маша и Коля вышли на улицу. Они решили пройтись пешком. По какой части дороги правильно и безопасно
                                                двигаться? Выбери правильный ответ.
                                                <img src="~/img/obj/child/obj/9.png" />
                                                <div class="card-body" style="display: flex; flex-wrap: wrap; text-align: center;">
                                                    <div class="form_radio form_radio6">
                                                        <input id="form6-radio-1" type="radio" name="radio6" value="1">
                                                        <label for="form6-radio-1">По тротуару;</label>
                                                    </div>

                                                    <div class="form_radio form_radio6" style="margin-left: 30px;">
                                                        <input id="form6-radio-2" type="radio" name="radio6" value="2">
                                                        <label for="form6-radio-2">в любом месте;</label>
                                                    </div>
                                                    <div class="form_radio form_radio6" style="margin-left: 30px;">
                                                        <input id="form6-radio-3" type="radio" name="radio6" value="3">
                                                        <label for="form6-radio-3">по велосипедной дорожке.</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-header" role="tab" id="headingSeven" style="background: transparent; padding: 0;">
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingSeven">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" style="padding-right: 40px;">3. Расмотри рисунок и ответь парвильно.</a>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="collapseSeven" role="tabpanel" aria-labelledby="headingSeven" data-parent="#accordion">
                                            <div class="card-body">
                                                Рассмотри рисунок. По какой части дороги движуться дети дети? Выберите правильный ответ.
                                                <img src="~/img/obj/child/obj/10.jpg" />
                                                <div class="card-body" style="display: flex; flex-wrap: wrap; text-align: center;">
                                                    <div class="form_radio form_radio7">
                                                        <input id="form7-radio-1" type="radio" name="radio7" value="1">
                                                        <label for="form7-radio-1">По пешеходной дорожке;</label>
                                                    </div>

                                                    <div class="form_radio form_radio7" style="margin-left: 30px;">
                                                        <input id="form7-radio-2" type="radio" name="radio7" value="2">
                                                        <label for="form7-radio-2">по велосипедной дорожке;</label>
                                                    </div>
                                                    <div class="form_radio form_radio7" style="margin-left: 30px;">
                                                        <input id="form7-radio-3" type="radio" name="radio7" value="3">
                                                        <label for="form7-radio-3">по проезжей части;</label>
                                                    </div>
                                                    <div class="form_radio form_radio7" style="margin-left: 30px;">
                                                        <input id="form7-radio-4" type="radio" name="radio7" value="4">
                                                        <label for="form7-radio-4">по пешеходному переходу.</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-header" role="tab" id="headingEight" style="background: transparent; padding: 0;">
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingEight">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight" style="padding-right: 40px;">4. Прочитай/прослушай.</a>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="collapseEight" role="tabpanel" aria-labelledby="headingEight" data-parent="#accordion">
                                            <div class="card-body">
                                                Прочитай или прослушай стихотворение Я. Пишумова "Островок безопасности".
                                                <img src="~/img/obj/child/obj/11.jpg" />
                                                <br />
                                                <br />
                                                <img src="~/img/obj/child/voice-icon.png" />
                                                <audio controls style="width: 85%; vertical-align: middle;">
                                                    <source src="~/img/obj/child/obj/1.ogg" type="audio/ogg">
                                                    <source src="~/img/obj/child/obj/1.mp3" type="audio/mpeg">
                                                    Ваш браузер не поддерживает функцию прослушивания.
                                                </audio>
                                                <br />
                                                <div class="row">
                                                    <div class="col-sm text-justify">
                                                        Я попал на островок,
                                                        А вокруг шумит поток.
                                                        Нет, не бурная река
                                                        Мчится мимо островка.
                                                        Не придут на остров в гости
                                                        Корабли из разных стран —
                                                        Необычный этот остров,
                                                        Здесь не море-океан.
                                                        Тут волною не окатит,
                                                        Не закинешь тут сетей.
                                                    </div>
                                                    <div class="col-sm text-justify">
                                                        Нету острова на карте —
                                                        Он на улице моей!
                                                        Я на улице ОДИН,
                                                        А вокруг поток машин!
                                                        Как же я попал на остров?
                                                        Все случилось очень просто:
                                                        Хотел дорогу перейти,
                                                        Но застрял на полпути.
                                                        Чтоб меня не сбили с ног,
                                                        Встал сюда на островок!
                                                    </div>
                                                </div>
                                                <br />
                                                Ответьте на вопросы.
                                                <form>
                                                    <div class="form-group">
                                                        <label>1) На каком островке стоит девочка?</label>
                                                        <input type="text" class="form-control" placeholder="На каком островке стоит девочка?">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>2) Где находится островок, о котором говорится в стихотворении?</label>
                                                        <input type="text" class="form-control" placeholder="Где находится островок, о котором говорится в стихотворении?">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>3) Объясни, зачем на дорогах нужен островок безопасности.</label>
                                                        <input type="text" class="form-control" placeholder="Объясни, зачем на дорогах нужен островок безопасности.">
                                                    </div>
                                                </form>
                                                <br />
                                                <img src="~/img/obj/child/move-icon.png" />
                                                <br />
                                                Островок безопасности — элемент дороги. Он выделяется на пешеходных переходах с
                                                помощью небольшого возвышения над проезжей частью или линиями.
                                                Островок безопасности предназначен для остановки пешеходов при переходе проезжей части.
                                                Например, начал пешеход переходить дорогу на зеленый сигнал светофора,
                                                но не успел завершить движение - загорелся красный. На островке безопасности следует подождать,
                                                когда сигнал снова станет зеленым, и продолжить движение.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-header" role="tab" id="headingNine" style="background: transparent; padding: 0;">
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingNine">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine" style="padding-right: 40px;">5. Расмотри рисунок и ответь парвильно.</a>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="collapseNine" role="tabpanel" aria-labelledby="headingNine" data-parent="#accordion">
                                            <div class="card-body">
                                                На дороге за городом отсутсвует тротуар. Как безопасно двигаться в такой местности?
                                                Расмотри рисунок. Кто из детей правильно идет по дороге за городом: девочка или мальчик?
                                                <br />
                                                <img src="~/img/obj/child/obj/12.jpg" />
                                                <div class="card-body" style="display: flex; flex-wrap: wrap; text-align: center;">
                                                    <div class="form_radio form_radio9">
                                                        <input id="form9-radio-1" type="radio" name="radio9" value="1">
                                                        <label for="form9-radio-1">Мальчик;</label>
                                                    </div>

                                                    <div class="form_radio form_radio9" style="margin-left: 30px;">
                                                        <input id="form9-radio-2" type="radio" name="radio9" value="2">
                                                        <label for="form9-radio-2">Девочка.</label>
                                                    </div>
                                                </div>
                                                <br />
                                                <img src="~/img/obj/child/question-icon.png" />
                                                <br />
                                                За городом пешеходы должны двигаться по левому краю проезжей части или по обочине навстречу транспортным средствам.
                                                Так пешеходы издали видят приближающиейся автомобили.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTen">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen" style="padding-right: 40px;">Транспортные средства</a>
                            </h5>
                        </div>
                        <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen" data-parent="#accordion">
                            <div class="card-body">
                                Прочитай или прослушай стихотворение Я. Пишумова "Машины".
                                <br />
                                <img src="~/img/obj/child/voice-icon.png" />
                                <audio controls style="width: 85%; vertical-align: middle;">
                                    <source src="~/img/obj/child/obj/2.ogg" type="audio/ogg">
                                    <source src="~/img/obj/child/obj/2.mp3" type="audio/mpeg">
                                    Ваш браузер не поддерживает функцию прослушивания.
                                </audio>
                                <br />
                                <div class="row">
                                    <div class="col-sm text-justify">
                                        На улице нашей
                                        Машины, машины.
                                        Машины малютки,
                                        Машины большие.
                                        Эй, машины, полный ход!
                                        Я примерный пешеход: '
                                        Торопиться не люблю,
                                        Вам дорогу уступлю.
                                    </div>
                                    <div class="col-sm text-justify">
                                        Спешат легковые,
                                        Фырчат грузовые -
                                        Торопятся, мчатся,
                                        Как будто живые.
                                        У каждой машины
                                        Дела и заботы.
                                        Машины выходят
                                        С утра на работу.
                                    </div>
                                </div>
                                <br />
                                В обиходе транспортные средства (автомобили) часто называют машинами. Ответь на вопросы.
                                <form>
                                    <div class="form-group">
                                        <label>1) Почему автор сравнил транспортные средства с живыми существами?</label>
                                        <input type="text" class="form-control" placeholder="На каком островке стоит девочка?">
                                    </div>
                                    <div class="form-group">
                                        <label>2) На какую работу "выходят" машины? Выбери лишнее.</label>
                                        <div class="form_radio form_radio10">
                                            <input id="form10-radio-1" type="radio" name="radio10" value="1">
                                            <label for="form10-radio-1">Перевозяд пассажиров;</label>
                                        </div>
                                        <div class="form_radio form_radio10">
                                            <input id="form10-radio-2" type="radio" name="radio10" value="2">
                                            <label for="form10-radio-2">перевозят грузы;</label>
                                        </div>
                                        <div class="form_radio form_radio10">
                                            <input id="form10-radio-3" type="radio" name="radio10" value="3">
                                            <label for="form10-radio-3">просто катаются по городу.</label>
                                        </div>
                                    </div>
                                </form>
                                <br />
                                <div class="card-header" role="tab" id="headingEleven" style="background: transparent; padding: 0;">
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingEleven">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven" style="padding-right: 40px;">2. Расмотри рисунок и ответь парвильно.</a>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="collapseEleven" role="tabpanel" aria-labelledby="headingEleven" data-parent="#accordion">
                                            <div class="card-body">
                                                Прочитай диалог подруг. Выбери имя девочки, которая живет в Минске.
                                                <img src="~/img/obj/child/obj/9.png" />
                                                <div class="card-body" style="display: flex; flex-wrap: wrap; text-align: center;">
                                                    <div class="form_radio form_radio11">
                                                        <input id="form11-radio-1" type="radio" name="radio11" value="1">
                                                        <label for="form11-radio-1">Маша</label>
                                                    </div>

                                                    <div class="form_radio form_radio11" style="margin-left: 30px;">
                                                        <input id="form11-radio-2" type="radio" name="radio11" value="2">
                                                        <label for="form11-radio-2">Катя</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <img src="~/img/obj/child/move-icon.png" />
                                <br />
                                Существует подземная электрическая железная дорога,
                                предназначенная для перевозки пассажиров, — метрополитен (метро).
                                В большом городе этот вид транспорта незаменим:
                                он самый скоростной. В Беларуси метрополитен построен только в столице —
                                Минске. Тысячи минчан и гостей города каждый день пользуются его услугами.
                                В метро светло, просторно, комфортно, не бывает пробок и тепло даже зимой.
                                К тому же метро — экологически чистый вид транспорта.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwelve">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve" style="padding-right: 40px;">Виды светофоров. Сигналы светофора, их предназначение.</a>
                            </h5>
                        </div>
                        <div id="collapseTwelve" class="collapse" role="tabpanel" aria-labelledby="headingTwelve" data-parent="#accordion">
                            <div class="card-body">
                                <img src="~/img/obj/child/question-icon.png" align="left" vspace="15" hspace="15" />
                                На перекрестках, пешеходных переходах и в других местах оживленного
                                движения во избежание несчастных случаев устанавливаются светофоры.
                                Это технические устройства. Они регулируют движение транспортных
                                средств и пешеходов подачей световых сигналов.

                                Светофор подает световые сигналы трех цветов: красного, желтого и зеленого.
                                Сигналы на светофоре располагаются вертикально (сверху вниз) и в строго определенном порядке.
                                <br />
                                <br />
                                <div class="card-header" role="tab" id="headingThreeth" style="background: transparent; padding: 0;">
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingThreeth">
                                            <h5 class="mb-0">
                                                <a data-toggle="collapse" href="#collapseThreeth" aria-expanded="true" aria-controls="collapseThreeth" style="padding-right: 40px;">1. Какой порядок расположения сигналов у светофора?</a>
                                            </h5>
                                        </div>
                                        <div id="collapseThreeth" class="collapse show" role="tabpanel" aria-labelledby="headingThreeth" data-parent="#accordion">
                                            <div class="card-body">
                                                <img src="~/img/obj/child/obj/13.jpg" alt="Светофор">
                                                У светофора сверху - секция с сигналом
                                                красного цвета, посередине - с сигналом желтого цвета,
                                                внизу - с сигналом зеленого цвета.
                                                <div class="card-body">
                                                    <div class="form_radio form_radio1">
                                                        <input id="form13-radio-1" type="radio" name="radio13" value="1">
                                                        <label for="form13-radio-1">Красный, зеленый, желтый</label>
                                                    </div>

                                                    <div class="form_radio form_radio1">
                                                        <input id="form13-radio-2" type="radio" name="radio13" value="2">
                                                        <label for="form13-radio-2">Зеленый, желтый, красный</label>
                                                    </div>

                                                    <div class="form_radio form_radio1">
                                                        <input id="form13-radio-3" type="radio" name="radio13" value="3">
                                                        <label for="form13-radio-3">Красный, желтый, зеленый</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingFourth">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapseFourth" aria-expanded="false" aria-controls="collapseFourth" style="padding-right: 40px;">2. Прочитай/прослушай.</a>
                                            </h5>
                                        </div>
                                        <div id="collapseFourth" class="collapse" role="tabpanel" aria-labelledby="headingFourth" data-parent="#accordion">
                                            <div class="card-body">
                                                Прочитай / просшлушай стихотворение Я. Пишумова "Пешеходный светофор".
                                                <br />
                                                <img src="~/img/obj/child/voice-icon.png" />
                                                <audio controls style="width: 85%; vertical-align: middle;">
                                                    <source src="~/img/obj/child/obj/3.ogg" type="audio/ogg">
                                                    <source src="~/img/obj/child/obj/3.mp3" type="audio/mpeg">
                                                    Ваш браузер не поддерживает функцию прослушивания.
                                                </audio>
                                                <br />
                                                <div class="row">
                                                    <div class="col-sm text-justify">
                                                        На посту стоят два брата, —
                                                        Вы их знаете, ребята.
                                                        То один здесь, То другой,
                                                        Каждый —
                                                        Бравый часовой.
                                                        Вот выходит братец красный
                                                        Он спешит предупредить:
                                                        — Стойте, граждане!
                                                        ОПАСНО
                                                        Вам сейчас переходить!
                                                    </div>
                                                    <div class="col-sm text-justify">
                                                        А его зеленый брат
                                                        Пешеходам очень рад,
                                                        Улыбаясь, говорит:
                                                        — Проходите,
                                                        ПУТЬ ОТКРЫТ!
                                                        Днем и ночью
                                                        Оба брата
                                                        Службу верную несут.
                                                        Вы их слушайтесь, ребята,
                                                        Вас они не подведут.
                                                    </div>
                                                </div>
                                                <br />
                                                О каких братьях, которые днем и ночью несут службу,
                                                говрится в стихотворении? Выбери правильный ответ.
                                                <div class="card-body">
                                                    <div class="form_radio form_radio1">
                                                        <input id="form14-radio-1" type="radio" name="radio14" value="1">
                                                        <label for="form14-radio-1">О светофоре для транспортных средств;</label>
                                                    </div>

                                                    <div class="form_radio form_radio1">
                                                        <input id="form14-radio-2" type="radio" name="radio14" value="2">
                                                        <label for="form14-radio-2">о светофоре для пешеходов.</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />
                <a class="btn" type="button" asp-controller="Home" asp-action="RazdelOBJ" asp-route-linkRazdel="child/obj-for-child" asp-route-razdelName="child" style="background: #8273C8; float: right; color: #ffffff; padding: 20px; margin: 20px;">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" style="display:inline-block;vertical-align:text-bottom"><path fill-rule="evenodd" d="M7.78 12.53a.75.75 0 01-1.06 0L2.47 8.28a.75.75 0 010-1.06l4.25-4.25a.75.75 0 011.06 1.06L4.81 7h7.44a.75.75 0 010 1.5H4.81l2.97 2.97a.75.75 0 010 1.06z"></path></svg>
                    Островок безопасности
                </a>
                <a class="btn" type="button" asp-controller="Home" asp-action="RazdelOBJ" asp-route-linkRazdel="child/safe-at-chs" asp-route-razdelName="child" style="background: #8273C8; float: left; color: #ffffff; padding: 20px; margin: 20px;">
                    Защита от чс
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" style="display:inline-block;vertical-align:text-bottom"><path fill-rule="evenodd" d="M8.22 2.97a.75.75 0 011.06 0l4.25 4.25a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06-1.06l2.97-2.97H3.75a.75.75 0 010-1.5h7.44L8.22 4.03a.75.75 0 010-1.06z"></path></svg>
                </a>
            </div>
        </div>
    </div>
</div>