<div class="col-lg-8 col-xl-7 ">
    <div class="row flex-xl-row-reverse row-20">
        <div class="post post-default post-variant-3" style="margin-bottom: 30px;">
            Дидактические материалы отражают содержание и структуру ключевых тем трех разделов учебной программы «Основы безопасности жизнедеятельности для детей».
            <br />
            <strong>1. Личная и коллективная безопасность</strong>

            <img class="text-center border-image-child" src="~/img/obj/child/obj/1.jpeg" />
            <br />
            Правила дорожного движения:
            <ul class="ul-list">
                <li>участники дорожного движения;</li>
                <li>элементы дороги;</li>
                <li>транспортные средства;</li>
                <li>виды светофоров; сигналы светофора, их предназначение;</li>
                <li>знакомство с дорожными знаками и дорожной разметкой;</li>
                <li>
                    правила поведения на посадочных площадках при ожидании,
                    по прибытии и при отправлении маршрутных транспортных средств;
                </li>
                <li>повторение основных правил перехода проезжей части.</li>
            </ul>
            <br />
            <strong>2. Защита от черезвычайных ситуаций</strong>
            <br />

            <img class="text-center border-image-child" src="~/img/obj/child/obj/2.jpeg" />
            Правила пожарной безопасности
            <ul class="ul-list">
                <li>пожарная безопасность в учреждении образовании;</li>
                <li>опасность горючих и воспламеняющихся жидкостей;</li>
                <li>пожары от электроприборов и электрооборудования</li>
            </ul>
            <br />
            <strong> 3. Окружающая среда и безопасность</strong>
            <br />

            <img class="text-center border-image-child" src="~/img/obj/child/obj/3.jpeg" />
            Безопасная среда в учреждении образования.
            <br />
            <br />

            <strong>
                4. Здоровый образ жизни
            </strong>
            <br />
            <img class="text-center border-image-child" src="~/img/obj/child/obj/4.jpeg" />
            Активные формы здорового образа жизни.
            <br />

            Упражнения и задания систематизированы по тематическому принципу, темы расположены в том же порядке, что и в учебной программе дошкольного образования.

            <img class="text-center border-image-child" src="~/img/obj/child/obj/5.png" />

            Иллюстрации, занимательные и игровые задания вызовут интерес к основам безопасной жизнедеятельности. Пословицы, стихи, маленькие рассказы, отвечающие запросам детей младшего школьного возраста, позволят получить первичные представления о безопасном поведении, расширят кругозор.

            Это позволяет легко ориентироваться в содержании, осмысленно работать с дидактическими материалами.
            <br />
            <img src="~/img/obj/child/move-icon.png" />
            <strong>Рубрика «Узелок на память»</strong> — справочно-информационная. Как правило, она располагается в начале темы, благодаря чему вы узнаете, вспомините и повторите важные (ключевые) моменты. Материал рубрики может быть прочитан учителем, или же учащиеся делают это сами. Во втором случае информация выводится на монитор лнбо интерактивную доску для организации фронтальной работы с классом. Кроме того, рубрика «Узелок на память» может использоваться в качестве опоры при самостоятельном выполнении заланий и упражнений темы, раздела.

            <br />
            <img src="~/img/obj/child/question-icon.png" />
            <strong>
                Материал рубрики «Проверь себя»
            </strong> позволяет учащимся протестировать себя, прнучает к обязательной проверке своей работы. Благоларя содержанию рубрики учащнеся могут сверить выводы, слезанные самостоятельно, с научными: подтверждаются они или нет.

            Каждая тема включает от 3 до 10 заданий, которые располагаются от более простого к сложному.
            <br />

            <br />
            <img src="~/img/obj/child/warning-icon.png" />
            <br />
            Материалы каждой темы предоставлены в следующей последовательности:
            <ul class="ul-list">
                <li>знакомство с темой и содержаннем входящих в нее заданий;</li>
                <li>актуализация знаний и умений по теме с опорой на содержание рубрики «Узелок на память»;</li>
                <li>выполненне упражнений и заданий от простых к сложным;</li>
                <li>проверка выполненного задания с помощью рубрики «Проверь себя»;</li>
                <li>подведение итогов, выполнение последних заданий (желательно самостоятельно).</li>
            </ul>

            <br />

            <strong>Игры</strong>
            <br />

            Между дидактических материалов, присутвуют маленкьие игры:
            <br />
            <img src="~/img/obj/child/paint-icon.png" /> - зачеркни не нужное, или обведи правильное.

            <br />
            <img src="~/img/obj/child/paint1-icon.png" /> - зарисуй.

            <br />
            <img src="~/img/obj/child/voice-icon.png" /> - прослушай запись по основам безопасности и жизнедеятельности.

            <br />
            Такая система заданий оптимизирует работу с пособием, обеспечнт положительное отношение к предмету «Основы безопасности жизнедеятельности», что, в свою очередь, окажет позитивное влияние на повторение и закрепление предметных знаний, отработку и усовершенствование умений и навыков безопасного поведения.

            <br />
            <hr />
            <a class="btn" asp-controller="Home" asp-action="RazdelOBJ" asp-route-linkRazdel="child/life-collective-safe" asp-route-razdelName="child" style="background: #8273C8; float: right; color: #ffffff; padding: 20px; margin: 20px;">
                Личная и коллективная безопасность
                <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" style="display:inline-block;vertical-align:text-bottom"><path fill-rule="evenodd" d="M8.22 2.97a.75.75 0 011.06 0l4.25 4.25a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06-1.06l2.97-2.97H3.75a.75.75 0 010-1.5h7.44L8.22 4.03a.75.75 0 010-1.06z"></path></svg>
            </a>
        </div>
    </div>
</div>