<div class="col-lg-8 col-xl-7 ">
    <div class="row flex-xl-row-reverse row-20">
        <div class="col-xl-11">
            <div class="post post-default post-variant-3" style="margin-bottom: 30px;">
                <h1 class="text-center">Правила пожарной безопасности</h1>
                <hr />
                <div class="card-header" role="tab" id="headingOne" style="background: transparent; padding: 0;">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                   style="padding-right: 40px;">Пожарная безопасность в Учреждении образования</a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <div class="card-header" role="tab" id="headingTwo" style="background: transparent; padding: 0;">
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingTwo">
                                            <h5 class="mb-0">
                                                <a data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                                                   style="padding-right: 40px;">1. Рассмотри плакат.</a>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                            <div class="card-body">
                                                Рассмотри плакат. Назови, что на нем изображено.
                                                <img src="~/img/obj/child/obj/17.jpg" class="text-center border-image-child" />
                                                <br />
                                                <div class="form_radio form_radio1">
                                                    <input id="form1-radio-1" type="radio" name="radio1" value="1">
                                                    <label for="form1-radio-1">Вид школы сверху;</label>
                                                </div>
                                                <div class="form_radio form_radio1">
                                                    <input id="form1-radio-2" type="radio" name="radio1" value="2">
                                                    <label for="form1-radio-2">схема класса;</label>
                                                </div>
                                                <div class="form_radio form_radio1">
                                                    <input id="form1-radio-3" type="radio" name="radio1" value="3">
                                                    <label for="form1-radio-3">план эвакуации.</label>
                                                </div>
                                                <br />
                                                <img src="~/img/obj/child/question-icon.png" /> Что полезного для себя можно узнать из плаката?
                                                <br />
                                                <img src="~/img/obj/child/move-icon.png" />
                                                Чтобы быстро и организованно выйти из здания школы во время чрезвычайной ситуации (например, начала пожара),
                                                следует хорошо знать план эвакуации. Для каждого класса, чтобы избежать толкотни, предусмотрен свой путь
                                                эвакуации из здания школы. Кроме того, из спортивного и актового залов, столовой, библиотеки имеются свои
                                                эвакуационные пути. Услышав сигналы тревоги, необходимо спокойно двигаться к выходу, который указан в плане,
                                                а также согласно указательным знакам «ВЫХОД».
                                                <br />
                                                <strong>Эвакуация —</strong> организованный вывод людей из опасных мест. План эвакуации — это документ,
                                                где указаны пути и выходы из помещений, установлены правила поведения людей при возникновении пожара или
                                                другой опасной ситуации.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingThree">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                                                   style="padding-right: 40px;">2. Рассмотри рисунок.</a>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                            <div class="card-body">
                                                Рассмотри рисунок. Правильно дли действуют учащиеся во время задымления помещения?
                                                <img src="~/img/obj/child/obj/18.jpg" class="text-center border-image-child" />

                                                <br />
                                                <img src="~/img/obj/child/move-icon.png" />
                                                Если лестничная площадка в дыму, необходимо применять простейшие средства
                                                защиты органов дыхания и зрения (мокрый платок, ватно-марлевую повязку,
                                                рукав куртки, шарф и др.). Двигаться следует пригнувшись или ползком.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingFour">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"
                                   style="padding-right: 40px;">Опасность горючих и воспломеняющихся жидкостей</a>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                <div class="card-header" role="tab" id="headingFive" style="background: transparent; padding: 0;">
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingFive">
                                            <h5 class="mb-0">
                                                <a data-toggle="collapse" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive"
                                                   style="padding-right: 40px;">1. Назови самую распространенную жидкость.</a>
                                            </h5>
                                        </div>
                                        <div id="collapseFive" class="collapse show" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
                                            <div class="card-body">
                                                Назови самую распространенную жидкость. Без нее не могут существовать растения,
                                                люди и животные; она может приобретать разное состояние.
                                                Выбери правильный вариант ответа.
                                                <br />
                                                <div class="form_radio form_radio1">
                                                    <input id="form2-radio-1" type="radio" name="radio1" value="1">
                                                    <label for="form2-radio-1">Молоко;</label>
                                                </div>
                                                <div class="form_radio form_radio1">
                                                    <input id="form2-radio-2" type="radio" name="radio2" value="2">
                                                    <label for="form2-radio-2">кефир;</label>
                                                </div>
                                                <div class="form_radio form_radio1">
                                                    <input id="form2-radio-3" type="radio" name="radio2" value="3">
                                                    <label for="form2-radio-3">кока-кола;</label>
                                                </div>
                                                <div class="form_radio form_radio1">
                                                    <input id="form2-radio-4" type="radio" name="radio2" value="4">
                                                    <label for="form2-radio-4">кока-кола;</label>
                                                </div>
                                                <div class="form_radio form_radio1">
                                                    <input id="form2-radio-5" type="radio" name="radio2" value="5">
                                                    <label for="form2-radio-5">вода;</label>
                                                </div>
                                                <div class="form_radio form_radio1">
                                                    <input id="form2-radio-6" type="radio" name="radio2" value="6">
                                                    <label for="form2-radio-6">бензин.</label>
                                                </div>
                                                <br />
                                                <img src="~/img/obj/child/move-icon.png" />
                                                Действительно, <strong>вода</strong> — самая распространенная жидкость.
                                                Огонь не дружит с ней. Однако есть жидкости, которые
                                                дружат с огнем. Это нефть, бензин, мазут, олифа, керосин,
                                                растительное масло, или, по-другому, — легковоспламеняющиеся
                                                и горючие жидкости. Они относятся к огнеопасным.
                                                В результате их возгорания может произойти пожар,
                                                который сложно потушить. Правда, горят не сами жидкости, а пары,
                                                которые они выделяют. Люди используют и те и другие жидкости в
                                                повседневной жизни для своих надобностей. Нужно знать о
                                                существовании таких жидкостей и уметь правильно обращаться с ними.<br />
                                                <strong>Горючие жидкости (сокращенно ГЖ) — </strong>это скипидар, мазут, олифа.<br />
                                                <strong>Легковоспламеняющиеся жидкости (сокращенно ЛВЖ) —</strong> бензин,
                                                ацетон, спирт, керосин. В каждом доме есть всевозможные баллончики с аэрозолями:
                                                дезодоранты, лак для волос, средства для чистки мебели, ковров, обуви.
                                                В их состав входят горючие газы и ЛВЖ. Хранить и применять в быту горючие
                                                и легковоспламеняющиеся жидкости можно только вдали от огня и нагревательных приборов.
                                                Иначе могут произойти взрыв и пожар. Кроме того, опасность горючих жидкостей и в том,
                                                что при горении они выделяют ядовитые вещества, вредные для здоровья человека.
                                                <br />
                                                <img src="~/img/obj/child/question-icon.png" /> Как тушить загоревшуюся ЛВЖ? Поразмышляй об этом.
                                                <br />
                                                <img src="~/img/obj/child/move-icon.png" /> 1. Легковоспламеняющиеся жидкости можно тушить, используя:
                                                <ul class="ul-list">
                                                    <li>влажные куски ткани или плотной одежды;</li>
                                                    <li>огнетушитель;</li>
                                                    <li>песок или землю.</li>
                                                </ul>

                                                2. Забрасывать горящую поверхность песком или землей нужно аккуратно, избегать резких бросков.
                                                Иначе можно разбрызгать горящую жидкость. Попадая на окружающие предметы, она воспламенит и их.
                                                Песок, которым пользовались для тушения бензина или керо сина, становится токсичен.
                                                Поэтому его стоит закопать подальше от зеленых насаждений, детских площадок и жилых строении.
                                                <br />
                                                <img src="~/img/obj/child/question-icon.png" /> Можно ли тушить бензин или керосин водой? Поразмышляй об этом.
                                                <br />
                                                <img src="~/img/obj/child/move-icon.png" />
                                                Бензин, керосин нельзя тушить водой. Подобные вещества легче воды.
                                                При попытке залить бензин водой он будет всплывать наверх.
                                                Бензин не только не прекратит гореть, но и растечется в стороны,
                                                увеличивая площадь пожара.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingSix">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix"
                                                   style="padding-right: 40px;">2. Расмотри рисунки.</a>
                                            </h5>
                                        </div>
                                        <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion">
                                            <div class="card-body">
                                                Расмотри рисунки. Как действовать, если обжегся?
                                                <br />
                                                <img src="~/img/obj/child/obj/19.jpg" class="text-center border-image-child" />
                                                <br />
                                                <ul class="ul-list">
                                                    <li>Охлади обожженное место прохладной водой в течении 5 - 15 минут. Не используй сильный напор воды в кране.</li>
                                                    <li>Накрой место ожога смоченной в холодной воде марлевой повязко.</li>
                                                    <li>Если под рукой нет марли, используй бактерецидный пластырь. Это защитить рану от инфицирования.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <img src="~/img/obj/child/warning-icon.png" />
                                <strong>НЕЛЬЗЯ</strong> смазывать ожоги растительным маслом, любым жиром, включая жирные кремы.
                                Маслянная пленка удерживает тепло внутри кожи и делает ожог более глубоким.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingSeven">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven"
                                   style="padding-right: 40px;">Пожары от электроприборов и электрооборудования</a>
                            </h5>
                        </div>
                        <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#accordion">
                            <div class="card-body">
                                <img src="~/img/obj/child/move-icon.png" />
                                В современных квартирах много разнообразных электрических приборов,
                                и их количество растет с каждым годом. Электроприборы — это технические устройства,
                                приводимые в действие с помощью электрической энергии и выполняющие полезную работу.
                                К ним относятся стиральные машины, электрические чайники, холодильники, утюги, пылесосы,
                                микроволновые печи, мультиварки, миксеры, тостеры. Чтобы электроприбор заработал,
                                его нужно включить, то есть подсоединить к источнику электроэнергии через розетку.<br />
                                Электрооборудование — это предметы, которые проводят электрический ток:
                                приборы, счетчики, проводка, розетки.<br />
                                <strong>Электрический ток —</strong> поток мельчайших, невидимых глазу частиц — электронов.
                                Они перемещаются по проводам в одном направлении.<br />

                                Бытовые электроприборы изменили нашу жизнь: они создают уют и комфорт в помещениях,
                                облегчают домашний труд, сокращают время пребывания на кухне,
                                обеспечивают свободное время для любимых занятий, прогулок.
                                Однако все бытовые электрические приборы должны быть исправными и безопасными.
                                <br />
                                <div class="card-header" role="tab" id="headingFive" style="background: transparent; padding: 0;">
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingHeight">
                                            <h5 class="mb-0">
                                                <a data-toggle="collapse" href="#collapseHeight" aria-expanded="true" aria-controls="collapseHeight"
                                                   style="padding-right: 40px;">1. Электроприборы.</a>
                                            </h5>
                                        </div>
                                        <div id="collapseHeight" class="collapse show" role="tabpanel" aria-labelledby="headingHeight" data-parent="#accordion">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm" style="padding: 10px; border: 1px solid #000000">
                                                        Причины пожаров от электроприборов
                                                    </div>
                                                    <div class="col-sm" style="padding: 10px; border: 1px solid #000000">
                                                        Первые признаки неисправности
                                                    </div>
                                                    <div class="col-sm" style="padding: 10px; border: 1px solid #000000">
                                                        Действия при неисправности
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm" style="padding: 10px; border: 1px solid #000000">
                                                        Неисправность
                                                        Короткое замыкание
                                                        Перегрузка
                                                    </div>
                                                    <div class="col-sm" style="padding: 10px; border: 1px solid #000000">
                                                        Дым
                                                        Искрение
                                                        Возгорание
                                                        Запах гари
                                                    </div>
                                                    <div class="col-sm" style="padding: 10px; border: 1px solid #000000">
                                                        Отключи неисправный прибор от источника электричества
                                                        Сообщи о неисправности взрослым
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingNine">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine"
                                                   style="padding-right: 40px;">2. Прочитай памятку. Устно ответь на вопросы.</a>
                                            </h5>
                                        </div>
                                        <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine" data-parent="#accordion">
                                            <div class="card-body">
                                                <div style="border: 1px solid #000000; border-radius: 5px; padding: 15px, 30px;">
                                                    <strong>Правила работы с бытовыми электроприборами</strong>
                                                    <ul class="ul-list">
                                                        <li>Не трогай электроприборы мокрыми руками.</li>
                                                        <li>Во время работы надень обувь на прорезиненной подошве.</li>
                                                        <li>Не отвлекайся во время работы.</li>
                                                        <li>Не оставляй прибор включенным, даже если приходится ненадолго отлучиться.</li>
                                                        <li>Выключи прибор из розетки по окончанию работы. Оссобенно важно это делать перед уходом из дома.</li>
                                                    </ul>
                                                </div>
                                                <br />
                                                Вопросы.
                                                <ul class="ul-list">
                                                    <li>Почему нельзя трогать электрические приборы мокрыми руками?</li>
                                                    <li>Что необходимо сделать с утюгом, если надо временно прервать глажку белья?</li>
                                                    <li>Что обязательно следует сделать перед уходом из дома?</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />

                    <a class="btn" type="button" asp-controller="Home" asp-action="RazdelOBJ" asp-route-linkRazdel="child/life-collective-safe" asp-route-razdelName="child" style="background: #8273C8; float: left; color: #ffffff; padding: 20px; margin: 20px;">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" style="display:inline-block;vertical-align:text-bottom"><path fill-rule="evenodd" d="M7.78 12.53a.75.75 0 01-1.06 0L2.47 8.28a.75.75 0 010-1.06l4.25-4.25a.75.75 0 011.06 1.06L4.81 7h7.44a.75.75 0 010 1.5H4.81l2.97 2.97a.75.75 0 010 1.06z"></path></svg>
                        Личная и коллективная безопасность
                    </a>
                    <a class="btn" type="button" asp-controller="Home" asp-action="RazdelOBJ" asp-route-linkRazdel="child/inside-and-safe" asp-route-razdelName="child" style="background: #8273C8; float: right; color: #ffffff; padding: 20px; margin: 20px;">
                        Окружающая среда и безопасность
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" style="display:inline-block;vertical-align:text-bottom"><path fill-rule="evenodd" d="M8.22 2.97a.75.75 0 011.06 0l4.25 4.25a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06-1.06l2.97-2.97H3.75a.75.75 0 010-1.5h7.44L8.22 4.03a.75.75 0 010-1.06z"></path></svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
