<h1 class="text-center">Правила пожарной безопасности</h1>
<hr/>
<div class="card-header" role="tab" id="headingOne" style="background: transparent; padding: 0;">
<div class="card">
    <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
               style="padding-right: 40px;">
                Пожарная безопасность в Учреждении образования
            </a>
        </h5>
    </div>
    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <div class="card-header" role="tab" id="headingTwo" style="background: transparent; padding: 0;">
                <div class="card">
                    <div class="card-header card-header2" role="tab" id="headingTwo">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                               style="padding-right: 40px;">
                                1. Рассмотри плакат.
                            </a>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            Рассмотри плакат. Назови, что на нем изображено.
                            <img src="~/img/obj/child/obj/17.jpg" class="text-center border-image-child"/>
                            <br/>
                            <div class="form_radio form_radio1">
                                <input id="form1-radio-1" type="radio" name="radio1" value="1">
                                <label for="form1-radio-1" onclick="shemashkoolfalse();">Вид школы сверху</label>
                            </div>
                            <div class="form_radio form_radio1">
                                <input id="form1-radio-2" type="radio" name="radio1" value="2">
                                <label for="form1-radio-2" onclick="shemashkoolfalse();">Схема класса</label>
                            </div>
                            <div class="form_radio form_radio1">
                                <input id="form1-radio-3" type="radio" name="radio1" value="3">
                                <label for="form1-radio-3" onclick="shemashkooltrue();">План эвакуации</label>
                            </div>
                            <div id="shemashkooltrue" class="alert alert-success invisible-alert" role="alert">
                                    <img src="~/img/obj/succesfull.png"/>
                            </div>
                            <div id="shemashkoolfalse" class="alert alert-danger invisible-alert" role="alert">
                                    <img src="~/img/obj/unsuccesfull.png"/>
                            </div>
                            <script>
                                                function shemashkooltrue() {
                                                    document.getElementById("shemashkooltrue").classList.remove('invisible-alert');
                                                    document.getElementById("shemashkoolfalse").classList.add('invisible-alert');
                                                }
                                                function shemashkoolfalse() {
                                                    document.getElementById("shemashkooltrue").classList.add('invisible-alert');
                                                    document.getElementById("shemashkoolfalse").classList.remove('invisible-alert');
                                                }
                                            </script>
                            <br/>
                            <img src="~/img/obj/child/question-icon.png"/> Что полезного для себя можно узнать из плаката?
                            <br/>
                            <img src="~/img/obj/child/move-icon.png"/>
                            Чтобы быстро и организованно выйти из здания школы во время чрезвычайной ситуации (например, начала пожара),
                            Услышав сигналы тревоги, необходимо спокойно двигаться к выходу, который указан в плане,
                            а также согласно указательным знакам «ВЫХОД».
                            <br/>
                            <strong>Эвакуация —</strong> организованный вывод людей из опасных мест. План эвакуации — это документ,
                            где указаны пути и выходы из помещений.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header2" role="tab" id="headingThree">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                               style="padding-right: 40px;">
                                2. Рассмотри рисунок.
                            </a>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            Рассмотри рисунок. Правильно ли действуют учащиеся во время задымления помещения?
                            <img src="~/img/obj/child/obj/18.jpg" class="text-center border-image-child"/>

                            <br/>
                            <img src="~/img/obj/child/move-icon.png"/>
                            Если лестничная площадка в дыму, необходимо применять простейшие средства
                            защиты органов дыхания и зрения (мокрый платок, ватно-марлевую повязку,
                            рукав куртки, шарф и др.). Двигаться следует пригнувшись или ползком.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" role="tab" id="headingFour">
        <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"
               style="padding-right: 40px;">
                Опасность горючих и воспломеняющихся жидкостей
            </a>
        </h5>
    </div>
    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
            <div class="card-header" role="tab" id="headingFive" style="background: transparent; padding: 0;">
                <div class="card">
                    <div class="card-header card-header3" role="tab" id="headingFive">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive"
                               style="padding-right: 40px;">
                                1. Назови самую распространенную жидкость.
                            </a>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse show" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                            Назови самую распространенную жидкость.
                            Выбери правильный вариант ответа.
                            <br/>
                            <div class="form_radio form_radio1">
                                <input id="form2-radio-1" type="radio" name="radio2" value="1">
                                <label for="form2-radio-1" onclick="jidkostfalse();">Молоко</label>
                            </div>
                            <div class="form_radio form_radio1">
                                <input id="form2-radio-2" type="radio" name="radio2" value="2">
                                <label for="form2-radio-2" onclick="jidkostfalse();">Кефир</label>
                            </div>
                            <div class="form_radio form_radio1">
                                <input id="form2-radio-3" type="radio" name="radio2" value="3">
                                <label for="form2-radio-3" onclick="jidkostfalse();">Кока-кола</label>
                            </div>
                            <div class="form_radio form_radio1">
                                <input id="form2-radio-4" type="radio" name="radio2" value="4">
                                <label for="form2-radio-4" onclick="jidkosttrue();">Вода</label>
                            </div>
                            <div class="form_radio form_radio1">
                                <input id="form2-radio-5" type="radio" name="radio2" value="5">
                                <label for="form2-radio-5" onclick="jidkostfalse();">Бензин</label>
                            </div>
                            <div id="jidkosttrue" class="alert alert-success invisible-alert" role="alert">
                                    <img src="~/img/obj/succesfull.png"/>
                            </div>
                            <div id="jidkostfalse" class="alert alert-danger invisible-alert" role="alert">
                                    <img src="~/img/obj/unsuccesfull.png"/>
                            </div>
                            <script>
                                                function jidkosttrue() {
                                                    document.getElementById("jidkosttrue").classList.remove('invisible-alert');
                                                    document.getElementById("jidkostfalse").classList.add('invisible-alert');
                                                }
                                                function jidkostfalse() {
                                                    document.getElementById("jidkosttrue").classList.add('invisible-alert');
                                                    document.getElementById("jidkostfalse").classList.remove('invisible-alert');
                                                }
                                            </script>
                            <br/>
                            <img src="~/img/obj/child/move-icon.png"/>
                            <img src="~/img/obj/child/obj/23.jpg"/>
                            Действительно, <strong>вода</strong> — самая распространенная жидкость.
                            Огонь не дружит с ней.
                            <br/>
                            <strong>Горючие жидкости (сокращенно ГЖ) — </strong>это скипидар, мазут, олифа.<br/>
                            <strong>Легковоспламеняющиеся жидкости (сокращенно ЛВЖ) —</strong> бензин,
                            ацетон, спирт, керосин.
                            <br/>
                            <img src="~/img/obj/child/question-icon.png"/> Как тушить загоревшуюся ЛВЖ? Поразмышляй об этом.
                            <br/>
                            <img src="~/img/obj/child/move-icon.png"/>Легковоспламеняющиеся жидкости можно тушить, используя:
                            <ul class="ul-list">
                                <li>влажные куски ткани или плотной одежды;</li>
                                <li>огнетушитель;</li>
                                <li>песок или землю.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header3" role="tab" id="headingSix">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix"
                               style="padding-right: 40px;">
                                2. Расмотри рисунки.
                            </a>
                        </h5>
                    </div>
                    <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion">
                        <div class="card-body">
                            Расмотри рисунки. Как действовать, если обжегся?
                            <br/>
                            <img src="~/img/obj/child/obj/19.jpg" class="text-center border-image-child"/>
                            <br/>
                            <ul class="ul-list">
                                <li>Охлади обожженное место прохладной водой в течении 5 - 15 минут. Не используй сильный напор воды в кране.</li>
                                <li>Накрой место ожога смоченной в холодной воде марлевой повязко.</li>
                                <li>Если под рукой нет марли, используй бактерецидный пластырь. Это защитить рану от инфицирования.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <img src="~/img/obj/child/warning-icon.png"/>
            <strong>НЕЛЬЗЯ</strong> смазывать ожоги растительным маслом, любым жиром, включая жирные кремы.
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" role="tab" id="headingSeven">
        <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven"
               style="padding-right: 40px;">
                Пожары от электроприборов и электрооборудования
            </a>
        </h5>
    </div>
    <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#accordion">
        <div class="card-body">
            <img src="~/img/obj/child/move-icon.png"/>
            Электроприборы — это технические устройства,
            приводимые в действие с помощью электрической энергии и выполняющие полезную работу.
            <br/>
            <img src="~/img/obj/child/obj/29.png"/>
            <br/>
            К ним относятся стиральные машины, электрические чайники, холодильники и тд.
            <br/>
            Электрооборудование — это предметы, которые проводят электрический ток:
            приборы, счетчики, проводка, розетки.<br/>
            <img src="~/img/obj/child/obj/30.jpg"/>
            <br/>
            <strong>Электрический ток —</strong> поток мельчайших, невидимых глазу частиц — электронов.
            Они перемещаются по проводам в одном направлении.
            <br/>
            <div class="card-header" role="tab" id="headingFive" style="background: transparent; padding: 0;">
                <div class="card">
                    <div class="card-header card-header4" role="tab" id="headingHeight">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" href="#collapseHeight" aria-expanded="true" aria-controls="collapseHeight"
                               style="padding-right: 40px;">
                                1. Электроприборы.
                            </a>
                        </h5>
                    </div>
                    <div id="collapseHeight" class="collapse show" role="tabpanel" aria-labelledby="headingHeight" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm" style="padding: 10px; border: 1px solid #000000">
                                    Причины пожаров от электроприборов
                                </div>
                                <div class="col-sm" style="padding: 10px; border: 1px solid #000000">
                                    Первые признаки неисправности
                                </div>
                                <div class="col-sm" style="padding: 10px; border: 1px solid #000000">
                                    Действия при неисправности
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm" style="padding: 10px; border: 1px solid #000000">
                                    Неисправность
                                    Короткое замыкание
                                    Перегрузка
                                </div>
                                <div class="col-sm" style="padding: 10px; border: 1px solid #000000">
                                    Дым
                                    Искрение
                                    Возгорание
                                    Запах гари
                                </div>
                                <div class="col-sm" style="padding: 10px; border: 1px solid #000000">
                                    Отключи неисправный прибор от источника электричества
                                    Сообщи о неисправности взрослым
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header4" role="tab" id="headingNine">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine"
                               style="padding-right: 40px;">
                                2. Прочитай памятку. Устно ответь на вопросы.
                            </a>
                        </h5>
                    </div>
                    <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine" data-parent="#accordion">
                        <div class="card-body">
                            <div style="border: 1px solid #000000; border-radius: 5px; padding: 15px 30px;">
                                <strong>Правила работы с бытовыми электроприборами</strong>
                                <ul class="ul-list">
                                    <li>Не трогай электроприборы мокрыми руками.</li>
                                    <li>Во время работы надень обувь на прорезиненной подошве.</li>
                                    <li>Не отвлекайся во время работы.</li>
                                    <li>Не оставляй прибор включенным, даже если приходится ненадолго отлучиться.</li>
                                    <li>Выключи прибор из розетки по окончанию работы. Оссобенно важно это делать перед уходом из дома.</li>
                                </ul>
                            </div>
                            <br/>
                            Вопросы.
                            <ul class="ul-list">
                                <li>Почему нельзя трогать электрические приборы мокрыми руками?</li>
                                <li>Что необходимо сделать с утюгом, если надо временно прервать глажку белья?</li>
                                <li>Что обязательно следует сделать перед уходом из дома?</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr/>

<a class="btn" type="button" asp-controller="Home" asp-action="RazdelOBJ" asp-route-linkRazdel="child/life-collective-safe" asp-route-razdelName="child" style="background: #8273C8; float: left; color: #ffffff; padding: 20px; margin: 20px;">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" style="display:inline-block;vertical-align:text-bottom">
        <path fill-rule="evenodd" d="M7.78 12.53a.75.75 0 01-1.06 0L2.47 8.28a.75.75 0 010-1.06l4.25-4.25a.75.75 0 011.06 1.06L4.81 7h7.44a.75.75 0 010 1.5H4.81l2.97 2.97a.75.75 0 010 1.06z"></path>
    </svg>
    Личная и коллективная безопасность
</a>
<a class="btn" type="button" asp-controller="Home" asp-action="RazdelOBJ" asp-route-linkRazdel="child/inside-and-safe" asp-route-razdelName="child" style="background: #8273C8; float: right; color: #ffffff; padding: 20px; margin: 20px;">
    Окружающая среда и безопасность
    <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" style="display:inline-block;vertical-align:text-bottom">
        <path fill-rule="evenodd" d="M8.22 2.97a.75.75 0 011.06 0l4.25 4.25a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06-1.06l2.97-2.97H3.75a.75.75 0 010-1.5h7.44L8.22 4.03a.75.75 0 010-1.06z"></path>
    </svg>
</a>
</div>