<div class="row">
    <div class="col-12 col-md-6">
        <div class="sin-class wow fadeInUp" data-wow-delay=".5s">
            <div class="row no-gutters" style="padding: 15px;">
                <h3>Уроки безопасности</h3>
                <iframe width="480" height="360" src="https://www.youtube.com/embed/mV9rFlToVjE" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="sin-class wow fadeInUp" data-wow-delay=".5s">
            <div class="row no-gutters" style="padding: 15px;">
                <h3>Волшебная книга МЧС</h3>
                <iframe width="480" height="360" src="https://www.youtube.com/embed/ihI-Z38MOxo" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="sin-class wow fadeInUp" data-wow-delay=".5s">
            <div class="row no-gutters" style="padding: 15px;">
                <h3>Безопасность жизни и здоровья в зимнее время</h3>
                <iframe width="480" height="360" src="https://www.youtube.com/embed/ldIibC61TdM" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="sin-class wow fadeInUp" data-wow-delay=".5s">
            <div class="row no-gutters" style="padding: 15px;">
                <h3>Возможные опасности и опасные ситуации дома</h3>
                <iframe width="480" height="360" src="https://www.youtube.com/embed/hYPfCTFVoRU" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>