@{
    ViewData["Title"] = "Про МЧС, МВД, Министерство здравоохранения";
}
<div class="container-fluid container-fluid-site" style="width: 80%;">
    <p class="about-of-service" style="float: left; ">
        <img src="~/img/MHS-big.png" width="200px" height="200px" />
        <h1>Назначение МЧС Республики Беларусь</h1>
        <h2>
            Министерство по чрезвычайным ситуациям Республики Беларусь (МЧС) является республиканским органом
            государственного управления, осуществляющим регулирование и управление в сфере предупреждения и ликвидации
            чрезвычайных ситуаций природного и техногенного характера и гражданской обороны, обеспечения пожарной,
            промышленной, ядерной и радиационной безопасности, ликвидации последствий катастрофы на Чернобыльской АЭС,
            создания и обеспечения сохранности государственного и мобилизационного материальных резервов, а также
            регулирование в сфере безопасности судоходства маломерных судов на внутренних водных путях Республики Беларусь.
        </h2>

        <h2 class="text-center">Основные цели и задачи:</h2>
        <h3>
            Основными задачами органов и подразделений по ЧС в соответствии со Статьей 2 Закона Республики Беларусь "Об
            органах и подразделениях по чрезвычайным ситуациям Республики Беларусь" от 16 июля 2009 г. № 45-З:
        </h3>

        <ul class="about-mhs-list">

            <li>
                <h4>
                    организация мероприятий по ликвидации чрезвычайных ситуаций и участие в ликвидации чрезвычайных
                    ситуаций;
                </h4>
            </li>
            <li>
                <h4>
                    участие в реализации государственной политики в сфере предупреждения и ликвидации чрезвычайных ситуаций,
                    гражданской обороны и обеспечения пожарной безопасности;
                </h4>
            </li>
            <li>
                <h4>
                    организация и участие в пределах своей компетенции в обеспечении функционирования государственных систем
                    предупреждения и ликвидации чрезвычайных ситуаций, гражданской обороны и пожарной безопасности, системы
                    мониторинга и прогнозирования чрезвычайных ситуаций;
                </h4>
            </li>
            <li>
                <h4>
                    координация в пределах своей компетенции деятельности государственных органов, иных организаций в сфере
                    предупреждения и ликвидации чрезвычайных ситуаций, гражданской обороны и обеспечения пожарной
                    безопасности;
                </h4>
            </li>
            <li>
                <h4>
                    осуществление государственного надзора, контрольных, разрешительных и других специальных функций в
                    области защиты населения и территорий от чрезвычайных ситуаций, гражданской обороны и обеспечения
                    пожарной безопасности;
                </h4>
            </li>
            <li>
                <h4>управление гражданской обороной;</h4>
            </li>
            <li>
                <h4>
                    организация и осуществление в пределах своей компетенции производства по материалам и уголовным делам,
                    ведение административного процесса;
                </h4>
            </li>
            <li>
                <h4>
                    выполнение иных задач в соответствии с законами Республики Беларусь и решениями Президента Республики
                    Беларусь.
                </h4>
            </li>
        </ul>
    </p>
    <span class="about-of-service-line"></span>
    <p class="about-of-service" style="float: right; ">
        <img src="~/img/MVD-big.png" width="200px" height="200px" />
        <h1>Назначение МВД Республики Беларусь</h1>
        <h2>
            Органы внутренних дел – это государственные правоохранительные органы, осуществляющие борьбу с преступностью,
            охрану общественного порядка и обеспечивающие общественную безопасность в соответствии с задачами, возложенными
            на них законодательными актами Республики Беларусь.
            Органы внутренних дел являются составной частью системы обеспечения национальной безопасности Республики
            Беларусь.
        </h2>
        <h3 class="text-center">
            Основными задачами органов внутренних дел и как ее составляющей – милиции, согласно статье 2
            Закона Республики Беларусь, являются:
        </h3>

        <ul class="about-mhs-list">
            <li>
                <h4>
                    защита жизни, здоровья, чести, достоинства, прав, свобод и законных интересов граждан Республики
                    Беларусь, иностранных граждан и лиц без гражданства от преступных и иных противоправных посягательств,
                    обеспечение их личной и имущественной безопасности, защита прав и законных интересов организаций от
                    преступных и иных противоправных посягательств в соответствии с компетенцией органов внутренних дел;
                </h4>
            </li>
            <li>
                <h4>
                    защита интересов общества и государства от преступных и иных противоправных посягательств, охрана
                    общественного порядка и обеспечение общественной безопасности;
                </h4>
            </li>
            <li>
                <h4>защита собственности от преступных и иных противоправных посягательств;</h4>
            </li>
            <li>
                <h4>
                    профилактика, выявление, пресечение преступлений и административных правонарушений, производство
                    дознания по уголовным делам, ведение административного процесса в соответствии с их компетенцией;
                </h4>
            </li>
            <li>
                <h4>
                    розыск обвиняемых, местонахождение которых неизвестно, лиц, скрывающихся от органов, ведущих уголовный
                    процесс, лиц, уклоняющихся от отбывания наказания или иных мер уголовной ответственности, без вести
                    пропавших и других лиц в случаях, предусмотренных законодательными актами Республики Беларусь,
                    установление лиц, совершивших преступления, лиц, подлежащих привлечению к административной
                    ответственности, в соответствии с компетенцией органов внутренних дел;
                </h4>
            </li>
            <li>
                <h4>
                    организация исполнения и отбывания наказания и иных мер уголовной ответственности, административных
                    взысканий в соответствии с компетенцией органов внутренних дел;
                </h4>
            </li>
            <li>
                <h4>участие в реализации государственной политики в области гражданства, миграции и регистра населения;</h4>
            </li>
            <li>
                <h4>
                    оказание в пределах компетенции органов внутренних дел на условиях и в порядке, предусмотренных
                    законодательством Республики Беларусь, помощи гражданам, государственным органам, общественным
                    объединениям и иным организациям в реализации их прав и возложенных на них обязанностей.
                </h4>
            </li>
        </ul>
    </p>
    <span class="about-of-service-line"></span>
    <p class="about-of-service" style="float: left; ">
        <img src="~/img/Ambulance-big.png" width="200px" height="200px" /> <h1>Служба скорой медицинской помощи (далее - СМП)</h1>
        <h2>
            Работает круглосуточно, обеспечивая неотложную помощь взрослому и детскому населению, как на месте происшествия,
            так и в пути следования в стационар при состояниях, угрожающих здоровью или жизни, вызванных внезапными
            заболеваниями, несчастными случаями, отравлениями и травмами требующих экстренного или неотложного медицинское
            вмешательство.
        </h2>
        <h3 class="text-center">В задачи скорой медицинской помощи входит:</h3>
        <ul class="about-mhs-list">
            <li>
                <h4>
                    защита жизни, здоровья, чести, достоинства, прав, свобод и законных интересов граждан Республики
                    Беларусь, иностранных граждан и лиц без гражданства от преступных и иных противоправных посягательств,
                    обеспечение их личной и имущественной безопасности, защита прав и законных интересов организаций от
                    преступных и иных противоправных посягательств в соответствии с компетенцией органов внутренних дел;
                </h4>
            </li>
            <li>
                <h4>транспортировка пациентов в стационарные учреждения здравоохранения.</h4>
            </li>
            <li>
                <h4>
                    участие в ликвидации медицинских последствий чрезвычайных происшествий, аварий, катастроф и стихийных
                    бедствий.
                </h4>
            </li>
        </ul>
        <h3>В режиме повышенной готовности служба скорой медицинской помощи работает для:</h3>
        <ul class="about-mhs-list">
            <li>
                <h4>обеспечения массовых мероприятий;</h4>
            </li>
            <li>
                <h4>возможных чрезвычайных ситуаций.</h4>
            </li>
        </ul>
        <h2>
            При этом служба СМП обеспечивает взаимодействия бригад: между собой и с территориальными органами управления
            здравоохранения, государственными организациями здравоохранения; с оперативно-дежурными службами органов
            внутренних дел Республики Беларусь и Министерства по чрезвычайным ситуациям Республики Беларусь.
        </h2>
        <h3>В чрезвычайном режиме служба скорой медицинской помощи осуществляет:</h3>
        <ul class="about-mhs-list">
            <li>
                <h4>оповещение о чрезвычайной ситуации органов здравоохранении;</h4>
            </li>
            <li>
                <h4>направление к границе зоны чрезвычайной ситуации бригад СМП;</h4>
            </li>
            <li>
                <h4>проведение лечебно-эвакуационных мероприятий пострадавшим. </h4>
            </li>
        </ul>
        <h2>
            Вызовы, поступающие на станцию скорой медицинской помощи по единому номеру 103 либо по другому номеру телефона,
            согласованному с районным исполнительным комитетом (в поселках городского типа и сельских населенных пунктах),
            принимаются диспетчерами (фельдшером или медицинской сестрой), которые и определяют категорию срочности вызова.
        </h2>
    </p>
</div>