<div class="homepage-s  owl-carousel owl-theme">


    <div class="item" style="background: white;">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 bg-2 slider-ext-wrap">
                    <div class="slider-text" style="margin-top: 50px;">
                        <h1 class="animated flipInX" style="margin-top: 130px;">Попробуй одну из наших игр!</h1>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <h3 class="animated flipInX text-center text-danger" style="margin-top: -20px;">Только для авторизированных пользователей!</h3>
                        }
                        <ul class="game-list">
                            <li>
                                <a asp-action="Index" asp-controller="Game"><img src="~/img/game/game-sort.png" /><h2 class="text-center text-dark">Сортировка предметов</h2></a>
                            </li>
                            <li>
                                <a asp-action="Index" asp-controller="Game"><img src="~/img/game/game-sort.png" /><h2 class="text-center text-dark">Сортировка предметов</h2></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>