@{
    ViewData["Title"] = "Отписка от рассылки";
}

<div class="container-fluid container-fluid-site text-center" style="margin-top: 100px; margin-bottom: 100px; display: inline-flex; align-items: center; justify-content: center;">
    <div>
        <h1>@ViewData["Title"]</h1>
        <h2 class="text-center text-dark">Почта успешно отвязана.</h2>
        <p class="text-danger" style="font-size: 20px;">Приносим свои извенения за причененные неудобства.</p>
    </div>
    <img src="~/img/bg/unsuccesfull.png" style="margin-left: 30px; width: 300px;"/>
</div>