@page
@model LSFProject.Areas.Identity.Pages.Account.Manage.AddedPostModel
@{
    ViewData["Title"] = "Добавление поста";
}
<h5>@ViewData["Title"]</h5>

<form class="col-lg" id="form-addpost" enctype="multipart/form-data" method="post">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Input.Header">Title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="first_input" placeholder="Title posts" asp-for="Input.Header" maxlength="50">
        </div>
        <span asp-validation-for="Input.Header" class="col col-form-label"></span>
    </div>
    <hr class="my-4 bg-light">
    <div class="form-group-row">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" asp-for="Input.PreviewPhoto">Preview Image</span>
            </div>
            <div class="custom-file">
                <input type="file" name="inputImage" class="custom-file-input inputImage" asp-for="Input.PreviewPhoto">
                <label class="custom-file-label" asp-for="Input.PreviewPhoto">Choose image</label>
            </div>
        </div>
        <span asp-validation-for="Input.PreviewPhoto" class="col col-form-label"></span>
    </div>
    <hr class="my-4 bg-light">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Input.PreviewText">Preview Description</label>
        <div class="col-sm-10">
            <textarea type="text" class="form-control" asp-for="Input.PreviewText" placeholder="Preview description"></textarea>
        </div>
        <span asp-validation-for="Input.PreviewText" class="col col-form-label"></span>
    </div>
    <hr class="my-4 bg-light">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Input.Url">Url</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="Input.Url" id="second_input" placeholder="Url posts">
        </div>
        <span asp-validation-for="Input.Url" class="col col-form-label"></span>
    </div>
    <hr class="my-4 bg-light">
    <!--Scripts CKEditor-->
    <script src="~/js/ckeditor4/ckeditor.js"></script>
    <!--Scripts CKEditor-->
    <div class="form-group-row">
        <label class="col-sm-2 col-form-label">Description</label>
        <textarea asp-for="Input.Description" name="editor" id="editor" rows="10" cols="80"></textarea>
        <span asp-validation-for="Input.Description" class="col col-form-label"></span>
        <script>
            CKEDITOR.replace('editor');
        </script>
    </div>
    <hr class="my-4 bg-light">
    <div class="form-group-row">
        <span asp-validation-for="Input.Author" class="col-sm-2 field-validation-valid"></span>
        <label for="inputEmail3" class="col col-form-label" asp-for="Input.Author">Author</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Author" asp-for="Input.Author" value="@User.Identity.Name">
        </div>
    </div>
    <hr class="my-4 bg-light">
    <div class="form-group-row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Create</button>
            <button type="submit" class="btn btn-primary">Create and watching</button>
        </div>
    </div>
</form>

<environment exclude="Development">
    <script src="~/Identity/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"
            asp-fallback-src="~/Identity/lib/jquery-validation/dist/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator"
            crossorigin="anonymous"
            integrity="sha384-rZfj/ogBloos6wzLGpPkkOr/gpkBNLZ6b6yLy4o+ok+t/SAKlL5mvXLr0OXNi1Hp">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.9/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"
            crossorigin="anonymous"
            integrity="sha384-ifv0TYDWxBHzvAk2Z0n8R434FL1Rlv/Av18DXE43N/1rvHyOG4izKst0f2iSLdds">
    </script>
</environment>