@page
@model CreateRoleModel
@{
    ViewData["Title"] = "Создание роли";
}

<div class="container-fluid container-fluid-site">
    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-page-handler="CreateRole" method="post">
        <div class="form-group">
            <label for="name">Новая роль</label>
            <input name="name" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
        <a class="btn btn btn-primary" asp-page="./Role">Отмена</a>
    </form>
</div>
