@page
@inject UserManager<LSFUser> UserManager;
@using LSFProject.Areas.Identity.Data
@model LSFProject.Areas.Identity.Pages.Account.Manage.InfoSecurePass

@{
    ViewData["Title"] = "Секретный пароль!";
    string secureCode = UserManager.GetUserId(User).Substring(0, 4);
}

<h5>@ViewData["Title"]</h5>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <h3 class="font-weight-bold">@secureCode</h3>
        <hr/>
        <div class="alert alert-danger alert-dismissible" role="alert" style="display: flex;">
                <p style="margin-left: 30px;">Внимание! Никому не сообщайте секретный пароль. Секретный пароль требуется для сброса основного пароля аккаунта. Изменить секрретный код не ВОЗМОЖНО!</p>
            </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

