@page
@model ForgotPasswordModel

@{
    ViewData["Title"] = "Восстановление пароля";
}
<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="login-page">
    <div class="form">
        <form class="login-form" method="post">
            <h4 class="text-center">Восстановление пароля</h4>
            <br />
            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="text" asp-for="Input.Login" placeholder="логин" />
            <span asp-validation-for="Input.Login" class="text-danger"></span>


            <input type="password" asp-for="Input.Password" placeholder="новый пароль" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>

            <input type="password" asp-for="Input.SecurityPassword" placeholder="Секретный пароль" />
            <span asp-validation-for="Input.SecurityPassword" class="text-danger"></span>

            <button>Восстановить</button>
            <a asp-area="Identity" asp-page="/Account/Login">Войти</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
